
<app-loading-spinner [isLoading]="isLoadingGeneral"></app-loading-spinner>

<!-- modal productos -->
<p-dialog
    header="Header" [(visible)]="mdlProductos"
    [modal]="true" [style]="{ width: '85vw' }" 
    [draggable]="true" [resizable]="false"
    [position]="'top'"
    [dismissableMask] = "true"
>
    <ng-template pTemplate="header">
        <h5 class="modal-title" id="modal-basic-title">Buscar producto</h5>
    </ng-template>
    <div>
        <p-dropdown 
            [options]="optionsSelect"
            [(ngModel)]="selectedOpt"
            optionLabel="name"
            [showClear]="true"
            placeholder="Selecciona una opcion"
            [style]="{ width: '30%' }"
            (ngModelChange)="onSearch()"
        ></p-dropdown>
        <input type="text" pInputText [(ngModel)]="valSearch" [style]="{ width: '70%' }" (ngModelChange)="onSearch()">
    </div>
    <p-table
        [value]="productos"
        selectionMode="single"
        [(selection)]="selectedProduct"
        dataKey="idProducto"
        styleClass="p-datatable-sm p-datatable-striped"
        (onRowSelect)="onSelectionChange()"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:15%">Clave externa</th>
                <th style="width:15%">Codigo de barras</th>
                <th style="width:40%">Descripcion</th>
                <th style="width:15%">Marca</th>
                <th style="width:15%">Departamento</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productos>
            <tr [pSelectableRow]="productos">
                <td>{{ productos.claveEx }}</td>
                <td>{{ productos.cbarras }}</td>
                <td>{{ productos.descripcion }}</td>
                <td>{{ productos.nombreMarca }}</td>
                <td>{{ productos.nombreDep }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [rows]="5" 
        [totalRecords]="totalPages" 
        >
    </p-paginator>
</p-dialog>

<!-- modal medidas -->
<p-dialog
    header="Header" [(visible)]="mdlMedidas"
    [modal]="true" [style]="{ width: '50vw' }" 
    [draggable]="false" [resizable]="false"
    [position]="'top'"
    [dismissableMask] = "true"
    >
    <ng-template pTemplate="header">
        <h5 class="modal-title" id="modal-basic-title">Medidas del producto: {{selectedProduct.claveEx}}</h5>
    </ng-template>
    <p-table
        [value]="medidas"
        styleClass="p-datatable-sm p-datatable-striped text-center"
    >
        <ng-template pTemplate="header" >
            <tr>
                <th>MED.</th>
                <th *ngFor="let tblHead of tblHeaders">
                    {{tblHead}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-medida>
            <tr class="text-center">
                <td>{{ medida.nombreMedida}}</td>
                <td [ngClass]="medida.precio1 ? '':'d-none'" >{{ medida.precio1 | currency:'MXN'}}</td>
                <td [ngClass]="medida.precio2 ? '':'d-none'" >{{ medida.precio2 | currency:'MXN'}}</td>
                <td [ngClass]="medida.precio3 ? '':'d-none'" >{{ medida.precio3 | currency:'MXN'}}</td>
                <td [ngClass]="medida.precio4 ? '':'d-none'" >{{ medida.precio4 | currency:'MXN'}}</td>
                <td [ngClass]="medida.precio5 ? '':'d-none'" >{{ medida.precio5 | currency:'MXN'}}</td>
            </tr>
        </ng-template>
    </p-table>
    <!-- IMG STOCK MEDIDAS -->
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <img src="{{url + 'productos/getImageProduc/' + this.img}}" [style]="{width: '100px'}">
        <p-table
            [value]="existencias"
            [style]="{ width: '100%' }"
            styleClass="p-datatable-sm p-datatable-striped text-center"
        >
            <ng-template pTemplate="header" >
                <tr>
                    <th>EXISTENCIA</th>
                    <th>MEDIDA</th>
                    <th>
                        <button class="p-button-sm p-button-rounded p-button-text p-button-info"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-question"
                            pTooltip="Consultar en otras sucursales"
                            tooltipPosition="top"
                            (click)="getExistenciaMultiSucursal($event)"
                            
                        ></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-existencia>
                <tr>
                    <td>
                        <div [ngClass]="{'outofstock': existencia.exisCal < 0, 'lowstock': existencia.exisCal === 0,'instock': existencia.exisCal > 0}">
                            {{ existencia.exisCal}}
                        </div>
                    </td>
                    <td>{{ existencia.nombreMedida}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <hr>
    <!-- Footer -->
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <button class="p-button-rounded p-button-danger"
            pButton
            pRipple
            type="button"
            label="Cancelar"
            icon="pi pi-times"
            (click)="mdlMedidas = false"
        ></button>
        <button class="p-button-rounded p-button-success"
            pButton
            pRipple
            type="button"
            label="Agregar"
            icon="pi pi-check"
            (click)="onSelect()"
        ></button>
    </div>
    
        
</p-dialog>

<!-- Tabla de existencias dinamica -->
<p-overlayPanel #panelMedidasMultiSuc [showCloseIcon]="true">
    <ng-template pTemplate="content">
        <div *ngIf="!isLoadingExistencia; else elseLoading" style="display: flex;">
            <ng-container *ngFor="let sucursal of sucursales">
                <div style="margin-right: 20px;">
                    <h6>{{ sucursal.nombre }}</h6>
                    <p-table [value]="existenciaSucursales[sucursal.connection]" 
                            [style]="{ width: '100%' }" 
                            styleClass="p-datatable-sm p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>EXISTENCIA</th>
                                <th>MEDIDA</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-existencia_med>
                            <tr>
                                <td>
                                    <div [ngClass]="{'outofstock': existencia_med.exisCal < 0, 'lowstock': existencia_med.exisCal === 0,'instock': existencia_med.exisCal > 0}">
                                        {{existencia_med.exisCal}}
                                    </div>
                                </td>
                                <td>{{existencia_med.nombreMedida}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-container>
        </div>
        <ng-template #elseLoading>
            <p-progressSpinner 
                [style]="{width: '50px', height: '50px'}" 
                strokeWidth="4"
            ></p-progressSpinner>
        </ng-template>
    </ng-template>
</p-overlayPanel>
<!-- Fin tabla de existencias dinamica-->