.outofstock {
    font-weight: 700;
    color: var(--dev-danger-color);
    text-decoration: line-through;
    text-align: right;
}

.lowstock {
    font-weight: 700;
    color: var(--dev-warn-color);
    text-align: right;
}

.instock {
    font-weight: 700;
    color: var(--dev-success-color);
    text-align: right;
} 