<p-toast></p-toast>
<app-loading-spinner [isLoading]="isLoadingGeneral"></app-loading-spinner>
<div class="container-fluid">
    <h3 class="text-center">Buscar Traspasos</h3>
    <br>
    <!--CUADRO DE BUSQUEDA-->
    <div class="input-group mb-2">
        <div class="col-3">
            <label class="form-label">Selecciona el traspaso</label>
            <select class="form-select" name="tipoBusqueda" [(ngModel)]="tipoBusqueda" (ngModelChange)="selectBusqueda()" >
                <option value="Envia" selected>Traspasos Enviados</option>
                <option value="Recibe">Traspasos Recibidos</option>
            </select>
        </div>
        <div class="col">
            <label class="form-label">Escribe el traspaso a buscar</label>
            <input type="search" class="form-control" name="search" placeholder="Ingrese solo numeros" [(ngModel)]="search" (ngModelChange)="selectBusqueda()" oninput="this.value = this.value.replace(/[^0-9]/g, '');" autocomplete="off">
        </div>
        <!-- <div class="col-1 d-flex justify-content-center">
            <p-speedDial [model]="items" direction="down" showIcon="pi pi-bars" hideIcon="pi pi-times" class="p-button-rounded p-button-success me-md-2" ></p-speedDial>
        </div> -->
        <!-- <div class="col-2">
            <label class="form-label">Fecha inicial</label>
            <div class="input-group">
                <input class="form-control" placeholder="aaaa-mm-dd" name="datInicial" [(ngModel)]="datInicial" ngbDatepicker #datInicialdp="ngbDatepicker" readonly>
                <button class="btn btn-outline-secondary" (click)="datInicialdp.toggle()" type="button"><i class="bi bi-calendar-date-fill"></i></button>
            </div>
        </div>
        <div class="col-2">
            <label class="form-label">Fecha final</label>
            <div class="input-group">
                <input class="form-control" placeholder="aaaa-mm-dd" name="datFinal" [(ngModel)]="datFinal" ngbDatepicker #datFinaldp="ngbDatepicker" readonly>
                <button class="btn btn-outline-secondary" (click)="datFinaldp.toggle()" type="button"><i class="bi bi-calendar-date-fill"></i></button>
            </div>
        </div> -->
    </div>
    <!-- SPINNER  -->
    <div class="text-center text-primary" *ngIf="isLoading">
        <br>
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- FIN SPINNER  -->
    <div *ngIf="!isLoading">
        <table class="table table-sm table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Envia</th>
                    <th scope="col">Recibe</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Observaciones</th> 
                    <th scope="col">Status</th> 
                    <th scope="col">Usuario</th> 
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <tbody *ngFor="let traspaso of traspasos | paginate: {id:'pagTraspaso', itemsPerPage:itemsPerPage, currentPage: pageActual, totalItems:totalPages }">
                <tr  (click)="getDetailsTraspaso(traspaso.idTraspasoE ? traspaso.idTraspasoE : traspaso.idTraspasoR,tipoBusqueda)" (click)="open(content)">
                    <th scope="row">{{ traspaso.idTraspasoE ? traspaso.idTraspasoE : traspaso.idTraspasoR }}</th>
                    <th scope="row">{{traspaso.sucursalEN}}</th>
                    <th scope="row">{{traspaso.sucursalRN}}</th>
                    <th scope="row">{{traspaso.created_at | date: 'dd/MM/yyyy'}}</th>
                    <th scope="row">{{traspaso.observaciones}}</th>
                    <th scope="row">{{traspaso.nombreStatus}}</th>
                    <th scope="row">{{traspaso.nombreEmpleado}}</th>
                </tr>
            </tbody>
        </table>
        <pagination-controls
            id="pagTraspaso" 
            (pageChange)="getPage(pageActual = $event)"
            previousLabel="Anterior"
            nextLabel="Siguiente" >
        </pagination-controls>
    </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <div *ngFor="let datosTraspaso of detallesTraspaso">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">DETALLES DEL TRASPASO NO. {{datosTraspaso.idTraspaso}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                        </div>

                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" style="box-sizing: border-box;" (click)="createPDF(datosTraspaso.idTraspaso,tipoBusqueda)" ngbTooltip="PDF"><i class="bi bi-file-earmark-pdf" ngbTooltip="PDF"></i><br></button>
                        </div>
                        <div class="col-auto" [hidden]="isHidden">
                            <button type="button" class="btn btn-warning" (click)="editarTraspaso(datosTraspaso)" ngbTooltip="EDITAR"><i class="bi bi-pencil-square"></i><br></button>
                        </div>
                        <div class="col-auto" [hidden]="isHiddenRec">
                            <button type="button" class="btn btn-primary" (click)="open(confirmacionR)" ngbTooltip="RECIBIR"><i class="bi bi-box-arrow-in-down"></i><br></button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger" (click)="open(confirmacion)" ngbTooltip="CANCELAR"><i class="bi bi-trash3"></i><br></button>
                        </div>
                    </div>
                    <hr>
                    <h4 class="text-center">DATOS DEL TRASPASO</h4>
                    <div class="row align-items-start">
                        <div class="col-2">
                            <label for="tipoTraspaso" class="form-label">Tipo de traspaso</label>
                            <input type="text" class="form-control" value="{{tipoBusqueda}}" readonly>
                        </div>
                        <div class="col-2" *ngIf="tipoBusqueda == 'Recibe'">
                            <label for="folioEnvio" class="form-label">Folio de envío</label>
                            <input type="text" class="form-control" value="{{datosTraspaso.folio}}" readonly>
                        </div>
                    
                        <div class="col-3">
                            <label for="sucursalEN" class="form-label">Envía</label>
                            <input id="sucursalEN" type="text" class="form-control" value="{{datosTraspaso.sucursalEN}}" readonly>
                        </div>
                        <div class="col-3">
                            <label for="sucursalRN" class="form-label">Recibe</label>
                            <input id="sucursalRN" type="text" class="form-control" value="{{datosTraspaso.sucursalRN}}" readonly>
                        </div>
                    
                        <div class="col-5">
                          <label for="nombreEmpleado" class="form-label">Realizó</label>
                          <input id="nombreEmpleado" type="text" class="form-control" value="{{datosTraspaso.nombreEmpleado}}" readonly>
                        </div>
                        <div class="col-3">
                          <label for="fechaAlta" class="form-label">Fecha de recepción</label>
                          <input type="text" class="form-control" value="{{datosTraspaso.created_at | date}}" readonly>
                        </div>
                    
                        <div class="col-11">
                          <label for="observaciones">Observaciones</label>
                          <textarea class="form-control" name="observaciones" id="observaciones" cols="30" rows="2" value="{{datosTraspaso.observaciones}}" readonly></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row align-items-start">
                        <h4 class="text-center">LISTA DE PRODUCTOS</h4>
                        <table class="table table-dark table-hover" id="table_productos">
                            <thead>
                                <tr>
                                    <th scope="col">CLAVE EXTERNA</th>
                                    <th scope="col">DESCRIPCION</th>
                                    <th scope="col">MEDIDA</th>
                                    <th scope="col">CANTIDAD</th>
                                    <th scope="col">IGUAL MEDIDA MENOR</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let p_d of productosDT | paginate:{ id:'paginationDT', itemsPerPage: 5, currentPage: pageActualM}">
                                <tr>
                                 <th scope="row">{{p_d.claveEx}}</th>
                                 <th scope="row">{{p_d.descripcion}}</th>
                                 <th scope="row">{{p_d.nombreMedida}}</th>
                                 <th scope="row">{{p_d.cantidad}}</th>
                                 <th scope="row">{{p_d.igualMedidaMenor}}</th>
                                </tr>
                            </tbody> 
                        </table>
                        <pagination-controls id="paginationDT" (pageChange)="pageActualM = $event"></pagination-controls>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #confirmacion let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ingrese el motivo de la cancelacion del traspaso</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="col-11">
            <label for="motivo">Motivo</label>
            <textarea class="form-control" name="observaciones" id="observaciones" cols="30" rows="2" [(ngModel)]="motivo" ></textarea>
          </div>
    </div>
    <div class="modal-footer">
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" acceptLabel="Si" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        <button type="button" class="btn btn-success" (click)="confirmCan()">Guardar</button>
    </div>
</ng-template>

<ng-template #confirmacionR let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¿Desea ingresar el material del traspaso al inventario de la sucursal?</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-footer"> 
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="100" acceptLabel="Si" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        <button type="button" class="btn btn-success" (click)="recibirTraspaso()">Ingresar</button>
    </div>
</ng-template>