<div class="container">
    <h4 class="text-center">Buscar cotizaciones</h4>
</div>
<div class="container-fluid">
    <div class="input-group mb-2">
        <div class="col-2">
            <select class="form-select" name="tipoBusqueda" [(ngModel)]="tipoBusqueda" (ngModelChange)="seleccionTipoBusqueda($event)">
                <option value="1" selected>Cliente</option>
                <option value="2"># Folio</option>
            </select>
        </div>
        <div class="col" *ngIf="tipoBusqueda==1;">
            <input type="text" class="form-control" name="buscarNomC" placeholder="Buscar . . ." [(ngModel)]="buscarNomC">
        </div>
        <div class="col" *ngIf="tipoBusqueda==2;">
            <input type="text" class="form-control" name="bucarFolio" placeholder="Buscar . . ." [(ngModel)]="buscarFolio" pattern="[0-9]+">
        </div>
    </div>
    <br>
    <div class="text-center text-primary" *ngIf="isLoading">
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    <div *ngIf="!isLoading">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">FOLIO</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">CLIENTE</th>
                    <th scope="col">VENDEDOR</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody *ngFor="let cotiza of cotizaciones | filterCotizacionesNomC: buscarNomC | filterCotizacionesIdCotiza: buscarFolio | paginate:{id:'paginationCotiza',itemsPerPage: 10, currentPage: pageActual}">
                <tr (click)="open(mDetallesCotiza)" (click)="getDetallesCotiza(cotiza.idCotiza)">
                    <th scope="row">{{cotiza.idCotiza}}</th>
                    <th scope="row">{{cotiza.created_at | date: 'dd/MM/yyyy'}}</th>
                    <th scope="row">{{cotiza.nombreCliente}}</th>
                    <th scope="row">{{cotiza.nombreEmpleado}}</th>
                    <th scope="row">{{cotiza.total | currency}}</th>
                    <th scope="row">{{cotiza.nombreStatus}}</th>
                </tr>
            </tbody>
        </table>
        <pagination-controls id="paginationCotiza" (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>
<ng-template #mDetallesCotiza let-modal>
    <div *ngFor="let dc of detallesCotiza">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Detalles cotizacion #{{dc.idCotiza}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <label class="form-label">Vendedor</label>
                    <input class="form-control" type="text" value="{{dc.nombreEmpleado}}" readonly>
                </div>
                <div class="col-3">
                    <label class="form-label">Fecha</label>
                    <input class="form-control" type="text" value="{{dc.created_at | date}}" readonly>
                </div>
                <div class="col" >
                    <button type="button" class="btn btn-secondary me-md-2" style="box-sizing: border-box;" (click)="generaPDF()"><i class="bi bi-file-earmark-pdf"></i><br>PDF</button>
                    <button type="button" class="btn btn-warning me-md-2" [routerLink]="['../cotizacion-editar',dc.idCotiza]" (click)="modal.dismiss('Cross click')"><i class="bi bi-pencil-square" ></i><br>EDITAR</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-5">
                    <label class="form-label">Cliente</label>
                    <input class="form-control" type="text" value="{{dc.nombreCliente}}" readonly>
                </div>
                <div class="col-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="text" value="{{dc.clienteCorreo}}" readonly>
                </div>
                <div class="col-3">
                    <label class="form-label">RFC</label>
                    <input class="form-control" type="text" value="{{dc.clienteRFC}}" readonly>
                </div>
            </div>
            <div class="row" *ngIf="dc.cdireccion.length > 2">
                <div class="col">
                    <label class="form-label">Direccion</label>
                    <textarea class="form-control" rows="2" value="{{dc.cdireccion}}" readonly></textarea>
                    
                </div>
            </div>
            
            <hr>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">CLAVE EXTERNA</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">MEDIDA</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">DESCUENTO</th>
                        <th scope="col">SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody *ngFor="let pc of productosdCotiza  | paginate:{id:'mProductosCotiza',itemsPerPage: 4, currentPage: mpageActual}">
                    <tr>
                        <th scope="row">{{pc.claveEx}}</th>
                        <th scope="row">{{pc.descripcion}}</th>
                        <th scope="row">{{pc.nombreMedida}}</th>
                        <th scope="row">{{pc.precio}}</th>
                        <th scope="row">{{pc.cantidad}}</th>
                        <th scope="row">{{pc.descuento}}</th>
                        <th scope="row">{{pc.total}}</th>
                    </tr>
                </tbody>
            </table>
            <pagination-controls id="mProductosCotiza" (pageChange)="mpageActual = $event"></pagination-controls>
            <hr>
            <div class="row" *ngIf="dc.observaciones.length > 2">
                <div class="col">
                    <label class="form-label">Observaciones</label>
                    <textarea class="form-control" rows="2" value="{{dc.observaciones}}" readonly></textarea>
                    
                </div>
            </div>
        </div>
    </div>
</ng-template>