<p-toast></p-toast>
<div class="container">
    <form class="form-group" #FormReq="ngForm" (keydown)="omitirEnter($event)" (ngSubmit)="agregarRequisicion(FormReq)">
        <h3 class="text-center">AGREGAR REQUISICION</h3>
        <hr>
        <div>
            <h4 class="text-center">PROVEEDOR</h4>
            <div class="col-5">
                <label for="idProveedor" class="form-label">Seleccionar proveedor</label>
                <select name="idProveedor" id="idProveedor" class="form-select" #idProveedor="ngModel" [(ngModel)]="requisicion.idProveedor" >
                    <option selected disabled value="">Abrir para seleccionar</option>
                    <option  *ngFor="let proveedor of proveedoresLista" value={{proveedor.idProveedor}}>{{proveedor.nombre}}</option>
                </select>
            </div>
        </div>
        <hr>
        <div >
            <h4 class="text-center">PRODUCTO</h4>
            <div class="row align-items-start">
                <div class="col-4">
                    <label class="form-label" for="">Buscar producto</label>
                    <div class="input-group">
                        <app-input-external-key-search 
                            (idProductoObtenido)="handleIdProductoObtenido($event)"
                            [claveExterna]="producto_requisicion.claveEx">
                            <span class="input-group-addon" id="sizing-addon2"><i class="bi-search" style="font-size: 1.5rem; color: black; left: 0;" (click)="openMdlProductos()"></i> </span>

                        </app-input-external-key-search>
                        <input class="form-control d-none" type="text" ngbTooltip="Solo busca por clave externa" name="claveEx" #claveEx="ngModel" [(ngModel)]="producto_requisicion.claveEx" readonly>
                        
                    </div>
                </div>
                <div class="col-2">
                    <label class="form-label"  for="cantidadProducto">Cantidad</label>
                    <input class="form-control" type="number" name="cantidadProducto" id="cantidadProducto"  #cantidadProducto="ngModel" [(ngModel)]="producto_requisicion.cantidad">
                </div>
                <div class="col-3">
                    <label for="medida" class="form-label">Seleccionar Medida</label>
                    <select name="idMedida" id="idMedida" class="form-select" [(ngModel)]="producto_requisicion.idProdMedida" (ngModelChange)="capturaNombreMedida($event)">
                        <option selected disabled value="">Abrir para seleccionar</option>
                        <option  *ngFor="let medida of medidasLista" value={{medida.idProdMedida}} >{{medida.nombreMedida}}</option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="form-label" for="cantidadProducto">.</label>
                    <button class="btn btn-success form-control" type="button" (click)="capturar(producto_requisicion)" [disabled]="isSearch"><i class="bi bi-check-circle-fill"> Agregar</i>     </button>
                  </div>
            </div>
            <div class="row align-items-start" *ngFor="let prod of productoVer">

                <div>
                    <label for="descipcion" class="form-label">Descripcion</label>
                    <input type="text" name="descipcion" class="form-control" value="{{prod.descripcion}}" readonly>
                </div>
                <div class="col-4">
                    <label for="marca" class="form-label">Marca</label>
                    <input type="text" name="marca" class="form-control" value="{{prod.nombreMarca}}" readonly>
                </div>
                <div class="col-2">
                    <label for="departamento" class="form-label">Departamento</label>
                    <input type="text" name="departamento" class="form-control" value="{{prod.nombreDep}}" readonly>
                </div>
                <div class="col-4">
                    <label for="categoria" class="form-label">Categoria</label>
                    <input type="text" name="categoria" class="form-control" value="{{prod.nombreCat}}" readonly>
                </div>
                <div class="col-2">
                    <label for="imagen" class="form-label">Imagen</label>
                    <br>
                    <img src="{{url + 'productos/getImageProduc/' + prod.imagen}}" width="100px" height="100px">
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-start">
            <h4 class="text-center">LISTA DE PRODUCTOS</h4>
            <table class="table table-dark table-hover" id="table_productos">
                <thead>
                    <tr>
                        <th scope="col">CLAVE EXTERNA</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">MEDIDA</th>
                        <th scope="col">CANTIDAD</th>
                    </tr>
                </thead>
                <tbody *ngFor="let p_d of Lista_compras | paginate:{id:'pcListaCompras',itemsPerPage: 5, currentPage: pageActual}">
                    <tr (click)="editarProductoO(p_d)"> 
                     <th scope="row">{{p_d.claveEx}}</th>
                     <th scope="row">{{p_d.descripcion}}</th>
                     <th scope="row">{{p_d.nombreMedida}}</th>
                     <th scope="row">{{p_d.cantidad}}</th>
                    </tr>
                </tbody>
            </table>
            <pagination-controls id="pcListaCompras" (pageChange)="pageActual = $event"></pagination-controls>
        </div>
        <hr>
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label for="observaciones">Observaciones</label>
                <textarea class="form-control" name="observaciones" id="observaciones" rows="2" maxlength="254" #observaciones="ngModel" 
                (keydown)="contaCaracteres($event)" [(ngModel)]="requisicion.observaciones"></textarea>
                <span class="justify-content-md-end">{{conta}}/254</span>
            </div>
            <br>
            <div class="col-12">
                <button  class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>
<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Buscar producto</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        
        <div class="input-group mb-2">
            <div class="col-2">
                <select name="" id="" class="form-select" name="seleccionado" [(ngModel)]="seleccionado">
                    <option value="1" selected>DESCRIPCION</option>
                    <option value="2">CLAVE EXTERNA</option>
                    <option value="3">CODIGO DE BARRAS</option>
                </select>
            </div>
            <div class="col" *ngIf="seleccionado == 1; ">
                <input type="search" class="form-control" name="buscarProducto" placeholder=" Buscar ..." (keyup)="getSearchDescripcion($event)">
            </div>
            <div class="col" *ngIf="seleccionado == 2; ">
                <input type="text" class="form-control" name="buscarProductoCE" placeholder=" Buscar ..." (keyup)="getSearch($event)"> 
            </div>
            <div class="col" *ngIf="seleccionado == 3;  ">
                <input type="text" class="form-control" name="buscarProductoCbar" placeholder=" Buscar ..." (keyup)="getSearchCodbar($event)">
            </div>
            
          </div>
          <br>
                <div class="text-center text-primary" *ngIf="isLoading">
                    <div class="spinner-border" role="status" >
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            <br>
            <table *ngIf="!isLoading" class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Clave externa</th>
                    <th>Codigo de barras</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody *ngFor="let pr of productos | paginate:{id:'pcModal',itemsPerPage: itemsPerPageMod, currentPage: pageActualMod,totalItems:totalPagesMod}">
                <tr (click)="consultarProductoModal(pr.idProducto)" (click)="modal.dismiss('Cross click')">
                    <th scope="row">{{pr.claveEx}}</th>
                    <th scope="row">{{pr.cbarras}}</th>
                    <th scope="row">{{pr.descripcion}}</th>
                    <th scope="row">{{pr.nombreMarca}}</th>
                </tr>
            </tbody>
          </table>
            <pagination-controls 
                    id="pcModal" 
                    (pageChange)="getPage(pageActualMod = $event)"
                    previousLabel="Anterior"
                    nextLabel="Siguiente" >
            </pagination-controls>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div> -->
</ng-template>

<app-modal-productos></app-modal-productos>