
<div class="container">
    <br>
    <div class="row justify-content-between">
        <div class="col-6">
            <h1>{{page_title}}</h1>
        </div>
        <div class="col-auto">
            <button type="button" value="Agregar" class="btn btn-success me-md-2" [routerLink]="['../ordencompra-modulo/ordencompra-buscar']" style="box-sizing: border-box;"><i class="bi bi-plus-circle"></i><br>Agregar</button>
            <button type="button" value="Buscar" class="btn btn-primary me-md-2" [routerLink]="['compra-buscar']" style="box-sizing: border-box;"><i class="bi bi-search"></i><br>Buscar</button>
            <button type="button" value="Deshabilitados" class="btn btn-danger me-md-2" style="box-sizing: border-box;"><i class="bi bi-search"></i><br>Deshabilitados</button>
        </div>
    </div>
</div>
<hr>
<br>
<router-outlet></router-outlet>