<div class="container">
    <h3 class="text-center">Ordenes de compra por recibir</h3>
</div>
<div>
    <div class="text-center text-primary" *ngIf="isLoading">
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    <div class="container-fluid" *ngIf="!isLoading">
        <div class="input-group mb-2">
            <div class="col-2">
                <select class="form-select" name="tipoBusqueda" [(ngModel)]="tipoBusqueda" (ngModelChange)="seleccionTipoBusqueda($event)">
                    <option value="1" selected>Proveedor</option>
                    <option value="2"># Orden</option>
                </select>
            </div>
            <div class="col" *ngIf="tipoBusqueda==1;">
                <input type="text" class="form-control" name="buscarOrdProveedor" placeholder="Buscar ..." [(ngModel)]="buscarOrdProveedor">
            </div>
            <div class="col" *ngIf="tipoBusqueda==2;">
                <input type="text" class="form-control" name="buscarOrdId" placeholder="Buscar ...2" [(ngModel)]="buscarOrdId">
            </div>
        </div>
        <!--CUADRO DE BUSQUEDA-->
        <!-- <div class="form-group">
            <input type="text" class="form-control" name="buscarOrdProveedor" placeholder="Buscar ..." [(ngModel)]="buscarOrdProveedor">
        </div>
        <br> -->
        <!--  -->
        <table class="table table-dark table-hover" >
            <thead>
                <tr>
                    <th scope="col"># Orden</th>
                    <th scope="col">PROVEEDOR</th>
                    <th scope="col">OBSERVACIONES</th>
                    <th scope="col">FECHA ESTIMADA</th>
            </tr>
            </thead>
            <tbody *ngFor="let oc of ordenesdecompra | filterOrders:buscarOrdProveedor | filterOrdersIdord:buscarOrdId | paginate:{id:'paginationOrders',itemsPerPage: 10, currentPage: pageActual}">
                <tr (click)="open(content)" (click)="selected(oc.idOrd)">
                    <th scope="row">{{oc.idOrd}}</th>
                    <th scope="row">{{oc.nombreProveedor}}</th>
                    <th scope="row">{{oc.observaciones}}</th>
                    <th  scope="row">{{oc.fecha | date: 'dd/MM/yyyy'}}</th>
                </tr>
            </tbody>
        </table>
       <pagination-controls id="paginationOrders" (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>
<!-- Modal -->
<ng-template #content let-modal>
    <div *ngFor="let doc of detallesOrdencompra">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Detalles orden no. {{doc.idOrd}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
                <div  class="container">
                  
                  <div class="row" *ngFor="let permiso of  userPermisos">
                      <div class="col-9">
                          <h4>{{doc.nombreProveedor}}</h4>
                      </div>
                      
                      <div class="col-auto" *ngIf="permiso.pdf == 1">
                          <button type="button" class="btn btn-secondary" ngbTooltip="PDF"><i class="bi bi-file-earmark-pdf"></i><br></button>
                      </div>
                      <div class="col-auto" *ngIf="permiso.editar == 1">
                          <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')" [routerLink]="['../ordencompra-editar',doc.idOrd]" ngbTooltip="EDITAR"><i class="bi bi-pencil-square"></i><br></button>
                      </div>
                      <div class="col-auto" *ngIf="permiso.cancelar == 1">
                          <button type="button" class="btn btn-danger" ngbTooltip="CANCELAR"><i class="bi bi-trash3"></i><br></button>
                      </div>
                      <div class="col-auto" *ngIf="permiso.editar == 1">
                        <button type="button" class="btn btn-success" (click)="modal.dismiss('Cross click')" [routerLink]="['../../compra-modulo/compra-agregar-id',doc.idOrd]" ngbTooltip="PASAR A COMPRA"><i class="bi bi-arrow-up-right-square"></i><br></button> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-3">
                        <label for="nombreEmpleado" class="form-label">Realizo</label>
                        <input id="nombreEmpleado" type="text" class="form-control" value="{{doc.nombreEmpleado}}" readonly>
                      </div>
                      <div class="col-3">
                        <label for="fechaAlta" class="form-label">Fecha de alta</label>
                        <input type="text" class="form-control" value="{{doc.created_at | date}}" readonly>
                      </div>
                      <div class="col-3">
                        <label for="fechaEstimada" class="form-label">Fecha estimada</label>
                        <input id="fechaEstimada" type="text" class="form-control" value="{{doc.fecha | date}}" readonly>
                      </div>
                      <div class="col">
                        <label for="observaciones">Observaciones</label>
                        <textarea class="form-control" name="observaciones" id="observaciones" cols="30" rows="2" value="{{doc.observaciones}}" readonly></textarea>
                      </div>
                  </div>
                  <hr>
                  <div class="row align-items-start">
                    <h4 class="text-center">LISTA DE PRODUCTOS</h4>
                    <table class="table table-dark table-hover" id="table_productos">
                        <thead>
                            <tr>
                                <th scope="col">CLAVE EXTERNA</th>
                                <th scope="col">DESCRIPCION</th>
                                <th scope="col">MEDIDA</th>
                                <th scope="col">CANTIDAD</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p_d of productosDOC | paginate:{ id:'paginationDOC', itemsPerPage: 5, currentPage: pagina}">
                            <tr>
                             <th scope="row">{{p_d.claveEx}}</th>
                             <th scope="row">{{p_d.descripcion}}</th>
                             <th scope="row">{{p_d.nombreMedida}}</th>
                             <th scope="row">{{p_d.cantidad}}</th>
                            </tr>
                        </tbody> 
                    </table>
                    <pagination-controls id="paginationDOC" (pageChange)="pagina = $event"></pagination-controls>
                </div>
                </div>
            </form>
          </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div> -->
</ng-template>