<div class="container">
    <h1>{{page_title}}</h1>
</div>
<div>
    <div class="container-fluid" *ngIf="ordenesdecompra">
        <div class="input-group mb-2">
            <div class="col-2">
                <select class="form-select" name="tipoBusqueda" [(ngModel)]="tipoBusqueda" (ngModelChange)="seleccionTipoBusqueda($event)">
                    <option value="1" selected>Proveedor</option>
                    <option value="2"># Orden</option>
                </select>
            </div>
            <div class="col" *ngIf="tipoBusqueda==1;">
                <input type="text" class="form-control" name="buscarOrdProveedor" placeholder="Buscar ..." [(ngModel)]="buscarOrdProveedor">
            </div>
            <div class="col" *ngIf="tipoBusqueda==2;">
                <input type="text" class="form-control" name="buscarOrdId" placeholder="Buscar ...2" [(ngModel)]="buscarOrdId">
            </div>
        </div>
        <!--CUADRO DE BUSQUEDA-->
        <!-- <div class="form-group">
            <input type="text" class="form-control" name="buscarOrdProveedor" placeholder="Buscar ..." [(ngModel)]="buscarOrdProveedor">
        </div>
        <br> -->
        <!--  -->
        <table class="table table-dark table-hover" >
            <thead>
                <tr>
                    <th scope="col"># Orden</th>
                    <th scope="col">PROVEEDOR</th>
                    <th scope="col">OBSERVACIONES</th>
                    <th scope="col">FECHA ESTIMADA</th>
            </tr>
            </thead>
            <tbody *ngFor="let oc of ordenesdecompra | filterOrders:buscarOrdProveedor | filterOrdersIdord:buscarOrdId | paginate:{itemsPerPage: 10, currentPage: pageActual}">
                <tr (click)="open(content)" (click)="selected(oc.idOrd)">
                    <th scope="row">{{oc.idOrd}}</th>
                    <th scope="row">{{oc.nombreProveedor}}</th>
                    <th scope="row">{{oc.observaciones}}</th>
                    <th scope="row">{{oc.fecha}}</th>
                </tr>
            </tbody>
        </table>
       <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>
<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalles</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
          <div *ngFor="let doc of detallesOrdencompra">
            <h1>{{doc.nombreProveedor}}</h1>
          </div>
      </form>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div> -->
    //
</ng-template>