<p-toast></p-toast>
<div class="container-fluid mt-2">
    <div class="row justify-content-between">
        <div class="col-10">
            <p-breadcrumb
                class="max-w-full"
                [model]="items"
                [home]="home"
                [style]="{'font-size':'small'}"
            ></p-breadcrumb>
        </div>
        <div class="col-2">
            <button class="p-button-rounded p-button-success me-md-2"
                    pButton 
                    pRipple 
                    type="button"  
                    icon="pi pi-plus-circle"
                    [routerLink]="['../punto-de-venta']" 
                    *ngIf="userPermisos.agregar == 1" 
                    pTooltip="Realizar cotizacion" 
                    tooltipPosition="top">
            </button>
            <button class="p-button-rounded me-md-2" 
                    icon="pi pi-search"
                    pButton 
                    pRipple 
                    type="button" 
                    [routerLink]="['cotizacion-buscar']"
                    *ngIf="userPermisos.ver == 1" 
                    pTooltip="Cotizaciones realizadas" 
                    tooltipPosition="top">
            </button>
        </div>
    </div>
</div>
<hr>
<router-outlet></router-outlet>
