<p-toast></p-toast>
<div class="container">
    <br>
    <div class="row justify-content-between">
        <div class="col-5">
            <h2>Modulo de cotizaciones</h2>
        </div>
        <div class="col-4">
            <button *ngIf="userPermisos.agregar == 1" type="button" value="Agregar" class="btn btn-success me-md-2" [routerLink]="['../punto-de-venta']" style="box-sizing: border-box;" ngbTooltip="AGREGAR"><i class="bi bi-plus-circle"></i><br></button>
            <button *ngIf="userPermisos.ver == 1" type="button" value="Buscar" class="btn btn-primary" [routerLink]="['cotizacion-buscar']"  style="box-sizing: border-box;" ngbTooltip="BUSCAR"><i class="bi bi-search"></i><br></button>
        </div>
    </div>
</div>
<hr>
<br>
<router-outlet></router-outlet>
