<div class="container">
    <h1>{{page_title}}</h1>
</div>
<div class="">
    <div class="loading" *ngIf="!proveedores">
        Cargando..
    </div>
    <div class="container-fluid" *ngIf="proveedores">
          <!--CUADRO DE BUSQUEDA-->
          <div class="form-group">
            <input type="text" class="form-control" name="fpv" placeholder="Buscar ..." [(ngModel)]="fpv">
        </div>
        <br>
        <!--  -->
        <table class="table table-dark table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">RFC</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">DIRECCION</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">CREDITO DIAS</th>
                    <th scope="col">CREDITO CANTIDAD</th>
                    <th scope="col">CONTACTO</th>
                    <th scope="col">TELEFONO CONTACTO</th>
                    <th scope="col">ACCION</th>
            </tr>
            </thead>
            <tbody *ngFor="let p of proveedores | filterProveedores:fpv | paginate:{itemsPerPage: 2, currentPage: pageActual}">
                <tr>
                    <th scope="row">{{p.idProveedor}}</th>
                    <th scope="row">{{p.rfc}}</th>
                    <th scope="row">{{p.nombre}}</th>
                    <th scope="row">{{p.estado}} {{p.ciudad}} {{p.cpostal}} {{p.colonia}} {{p.calle}} {{p.numero}}</th>
                    <th scope="row">{{p.telefono}}</th>
                    <th scope="row">{{p.creditoDias}}</th>
                    <th scope="row">{{p.creditoCantidad | currency}}</th>
                    <th scope="row">{{p.nombreCon}}</th>
                    <th scope="row">{{p.telefonoCon}}</th>
                    <th scope="row"> <input type="button" value="Ver" [routerLink]="['../proveedorVer',p.idProveedor]" class="btn btn-warning"/></th>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>