<p-toast></p-toast>
<div class="container">
  <app-loading-spinner [isLoading]="isLoadingGeneral"></app-loading-spinner>
  <form class="form-group" #aProd="ngForm" (ngSubmit)="confirmSubmit()" (keydown.enter)="$event.preventDefault()">
    
    <!-- DATOS PRINCIPALES -->
    <div>
      <div class="row">
        <h4 class="text-center">AGREGAR PRODUCTO</h4>
      </div>
      <div class="row">
        <!-- Clave Externa -->
        <div class="col-3">
          <label for="ClaveExterna"  class="form-label">Clave externa *</label>
          <input type="text" class="form-control" id="ClaveExterna" name="claveEx" #claveEx="ngModel" [(ngModel)]="producto.claveEx" ngModel required autocomplete="off">
            <div [hidden]="claveEx.valid || claveEx.pristine" class="alert alert-danger">
              CAMPO REQUERIDO
            </div>
        </div>
        <!-- Marca  -->
        <div class="col-3">
          <label for="marca" class="form-label">Marca *</label>
          <select id="marca" class="form-select" name="idMarca" #idMarca="ngModel" [(ngModel)]="producto.idMarca" required>
            <option value="">Seleccione una opción</option>
            <option  *ngFor="let mar of marca" value={{mar.idMarca}}>{{mar.nombre}}</option>
          </select>
          <div [hidden]="idMarca.valid || idMarca.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
          </div>
        </div>
        <!-- Departamento  -->
        <div class="col-3">
          <label for="departamento" class="form-label">Departamento *</label>
          <select id="departamento" class="form-select" name="idDep" #idDep="ngModel" [(ngModel)]="producto.idDep" required>
            <option value="">Seleccione una opción</option>
            <option  *ngFor="let dep of departamentos" value={{dep.idDep}} >{{dep.nombre}}</option>
          </select>
          <div [hidden]="idDep.valid || idDep.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
          </div>
        </div>
        <!-- Tiempo de entrega -->
        <div class="col-3">
          <label for="tentrega" class="form-label">Tiempo de entrega (Proveedor) *</label>
          <select id="tentrega" class="form-select" name="tEntrega" #tEntrega="ngModel" [(ngModel)]="producto.tEntrega" required>
            <option value="">Seleccione una opción</option>
            <option value="1">1 Día</option>
            <option value="2">2 Días</option>
            <option value="3">3 Días</option>
            <option value="4">4 Días</option>
            <option value="5">5 Días</option>
            <option value="6">6 Días</option>
            <option value="7">7 Días</option>
            <option value="8">8 Días</option>
            <option value="9">9 Días</option>
            <option value="10">10 Días</option>
            <option value="11">11 Días</option>
            <option value="12">12 Días</option>
            <option value="13">13 Días</option>
            <option value="14">14 Días</option>
            <option value="15">15 Días</option>
            <option value="16">16 Días</option>
            <option value="17">17 Días</option>
            <option value="18">18 Días</option>
            <option value="19">19 Días</option>
            <option value="20">20 Días</option>
            <option value="21">21 Días</option>
            <option value="22">22 Días</option>
            <option value="23">23 Días</option>
            <option value="24">24 Días</option>
            <option value="25">25 Días</option>
            <option value="26">26 Días</option>
            <option value="27">27 Días</option>
            <option value="28">28 Días</option>
            <option value="29">29 Días</option>
            <option value="30">30 Días</option>

          </select>
          <div [hidden]="tEntrega.valid || tEntrega.pristine" class="alert alert-danger">
            CAMPO REQUERIDO 
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Carga de imagen btn -->
        <div class="col-2">
          <label for="imagen">Imagen</label>
          <p-fileUpload
                  chooseLabel="Seleccione"
                  mode="basic" 
                  name="file0" 
                  url="{{url + 'productos/uploadimage' + producto.imagen}}"
                  [auto]="true"
                  accept="image/*"
                  [maxFileSize]="500000"
                  (onUpload)="productImage($event)">
          </p-fileUpload>
          
        </div>
        <!-- Cuadro imagen -->
        <div class="col-2">
            <label for="imagen">Vista Previa</label>

            <img *ngIf="producto.imagen" src="{{url + 'productos/getImageProduc/' + producto.imagen}}" width="90px" height="90px" >
        </div>  
        <!-- StockMin -->
        <div class="col-2">
          <label for="stockmin" class="form-label">Stock Min *</label>
          <input type="number" class="form-control" id="stockmin" name="stockMin" #stockMin="ngModel" [(ngModel)]="producto.stockMin" pattern="^[0-9]{1,6}" min="1" required>
          <div [hidden]="stockMin.valid || stockMin.pristine" class="alert alert-danger">
            CAMPO REQUERIDO | INGRESE SOLO NUMEROS MAYOR A 0 Y MAXIMO 999999
          </div>
        </div>
        <!-- StockMax -->
        <div class="col-2">
          <label for="stockmax" class="form-label">Stock Max *</label>
          <input type="number" class="form-control" id="stockmax" name="stockMax" #stockMax="ngModel" [(ngModel)]="producto.stockMax" pattern="^[0-9]{1,6}" min="1" required>
          <div [hidden]="stockMax.valid || stockMax.pristine" class="alert alert-danger">
            CAMPO REQUERIDO | INGRESE SOLO NUMEROS MAYOR A 0 Y MAXIMO 999999
          </div>
        </div>
        <!-- Descripcion -->
        <div class="col-4">
          <label for="descripcion" class="form-label">Descripcion *</label>
          <textarea class="form-control" id="descripcion" rows="2" maxlength="254" 
                    name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion"
                    (input)="omitirEnter($event)" required >
          </textarea>
          <span class="justify-content-md-end">{{conta}}/254</span>
          <div [hidden]="descripcion.valid || descripcion.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DATOS PRINCIPALES -->

    <hr>

    <!-- SECCION PRECIOS -->
    <div class="row align-items-start">
      <h4 class="text-center">PRECIOS</h4>
      <!-- PrecioCompra -->
      <div class="col-4">
        <label class="form-label" for="checkPrecioCompra">Precio compra *</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input type="text" class="form-control" autocomplete="off" id="precioCompraPrincipal"
                  oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');"
                  name="precioCompraForm" [(ngModel)]="precioCompraForm" required
                  (ngModelChange)="asignaPrecioCompra($event)">
          <!-- <div [hidden]="precioCompraForm.valid || precioCompraForm.pristine" class="alert alert-danger">
            CAMPO REQUERIDO | INGRESE SOLO NUMEROS MAYOR A 0 Y MAXIMO 9999999
          </div> -->
        </div>
      </div>
      <!-- ClaveSat -->
      <div class="col-4">
        <label for="clavesat" class="form-label">Clave sat</label>
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" id="button-addonSeaarch" (click)="open(buscarClaveSat)"><i class="bi bi-search"></i></button>
          <input type="number" class="form-control" id="clavesat" name="claveSat" #claveSat="ngModel" [(ngModel)]="producto.claveSat" pattern="^[0-9]+" min="1" disabled>
        </div>
      </div>
      <!-- NoMedidas -->
      <div class="col-4">
        <label class="form-label" for="noMedidas">No. de medidas *</label>
        <select class="form-select" name="noMedidas" id="totalMedidas" ngModel #noMedidas="ngModel"  (ngModelChange)="seleccionaNoMedidas($event)" required>
          <option value="" disabled selected>Seleccione una opcion</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <div [hidden]="noMedidas.valid || noMedidas.pristine" class="alert alert-danger">
          CAMPO REQUERIDO 
        </div>
      </div>


    </div>

    <!-- TABLAS DE PRECIOS dinamicas-->
    <div class="row justify-content-between">
      <div class="col-4" *ngFor="let tab of tabsPrice">
        <!-- Medida Unidad -->
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label" [htmlFor]="'medida'+tab.noTab">Medida {{tab.noTab}} *</label>
            <select class="form-select" [name]="'medida'+tab.noTab" [id]="'medida'+tab.noTab"
                    #medida="ngModel" [(ngModel)]="tab.idMedida">
                      <option value="" disabled selected>Seleccione una medida</option>
                      <option *ngFor="let medida of medidas" [value]="medida.idMedida">{{medida.nombre}}</option>
            </select>
          </div>
          <div class="col">
            <label class="form-label" [htmlFor]="'unidad'+tab.noTab">Unidad *</label>
            <input class="form-control" type="text" autocomplete="off"
                    oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');"
                    [name]="'unidad'+tab.noTab" [id]="'unidad'+tab.noTab"
                    #unidad="ngModel" [(ngModel)]="tab.unidad"
                    (ngModelChange)="asignaPrecioCompra($event)">
          </div>
        </div>
        <!-- Precio compra d-none-->
        <div class="row justify-content-between d-none">
          <div class="col">
            <label for="form-label">Precio compra base</label>
            <input class="form-control" type="text" [value]="tab.preciocompra | currency" readonly>
          </div>
        </div>
        <!-- igualar asignar -->
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label" [htmlFor]="'checkIgualaPorcentaje'+tab.noTab">¿Igualar porcentaje?</label>
            <p-button type="button" pRipple label="igualar" [disabled]="(tab.noTab != null && tab.noTab > 1) ? false : true"
                      [id]="'checkIgualaPorcentaje'+tab.noTab"
                      attr.data-noTab="{{tab.noTab}}"
                      (click)="igualarPorcentajes_asignaPorcentaje($event)" ></p-button>
          </div>
          <div class="col">
            <label class="form-label" [htmlFor]="'inpAsignaPorcentaje'+tab.noTab">Asignar porcentaje</label>
            <div class="input-group">
              <input class="form-control" type="text" [disabled]="(tab.noTab != null && tab.noTab > 1) ? false : true"
                      oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');"
                      [id]="'inpAsignaPorcentaje'+tab.noTab" autocomplete="off">
              <p-button type="button" pRipple [disabled]="(tab.noTab != null && tab.noTab > 1) ? false : true"
                    [id]="'btnAsignaPorcentaje'+tab.noTab"
                    attr.data-noTab="{{tab.noTab}}"
                    data-type="asigna"
                    icon="pi pi-check-square"
                    (click)="igualarPorcentajes_asignaPorcentaje($event)"></p-button>
            </div>
          </div>
        </div>
        <br>
        <!-- table -->
        <table class="table table-light">
          <thead class="text-center">
            <tr>
              <th>#</th>
              <th>Porcentaje</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <!-- p1 -->
            <tr>
              <th>
                <p-checkbox
                  *ngIf="tab.noTab == 1; else elseP1"
                  label="1"
                  [binary]="true"
                  [inputId]="'tab'+tab.noTab+'check1'"
                  [(ngModel)]="tab.isSelected_precio1"
                  [ngModelOptions]="{standalone: true}"
                  (onChange)="guardaCheckPrecio($event.checked,'precio1',1)">
                </p-checkbox>
                <ng-template #elseP1>
                  1
                </ng-template>
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'porcentaje1'"
                        [id]="'tab'+tab.noTab+'porcentaje1'"
                        [(ngModel)]="tab.porcentaje1"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off"
                        [disabled]="!tabsPrice[0].isSelected_precio1"
                        (change)="calcularPrecio(tab,1)">
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'precio1'"
                        [id]="'tab'+tab.noTab+'precio1'"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off"
                        [(ngModel)]="tab.precio1" 
                        [disabled]="!tabsPrice[0].isSelected_precio1"
                        (change)="calcularPorcentajeGanancia(tab, 1)">
              </th>
            </tr>
            <!-- p2 -->
            <tr>
              <th>
                <p-checkbox
                  *ngIf="tab.noTab == 1; else elseP2"
                  label="2"
                  [binary]="true"
                  [inputId]="'tab'+tab.noTab+'check2'"
                  [(ngModel)]="tab.isSelected_precio2"
                  [ngModelOptions]="{standalone: true}"
                  (onChange)="guardaCheckPrecio($event.checked,'precio2',2)">
                </p-checkbox>
                <ng-template #elseP2>
                  2
                </ng-template>
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'porcentaje2'"
                        [id]="'tab'+tab.noTab+'porcentaje2'"
                        [(ngModel)]="tab.porcentaje2"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" 
                        autocomplete="off"
                        [disabled]="!tabsPrice[0].isSelected_precio2"
                        (change)="calcularPrecio(tab,2)">
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'precio2'" 
                        [id]="'tab'+tab.noTab+'precio2'"
                        [disabled]="!tab.isSelected_precio2"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" 
                        autocomplete="off"
                        [(ngModel)]="tab.precio2"
                        [disabled]="!tabsPrice[0].isSelected_precio2"
                        (change)="calcularPorcentajeGanancia(tab,2)">
              </th>
            </tr>
            <!-- p3 -->
            <tr>
              <th>
                <p-checkbox
                  *ngIf="tab.noTab == 1; else elseP3"
                  label="3"
                  [binary]="true"
                  [inputId]="'tab'+tab.noTab+'check3'"
                  [(ngModel)]="tab.isSelected_precio3"
                  [ngModelOptions]="{standalone: true}"
                  (onChange)="guardaCheckPrecio($event.checked,'precio3',3)">
                </p-checkbox>
                <ng-template #elseP3>
                  3
                </ng-template>
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'porcentaje3'"
                        [id]="'tab'+tab.noTab+'porcentaje3'"
                        [(ngModel)]="tab.porcentaje3"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" 
                        autocomplete="off"
                        [disabled]="!tabsPrice[0].isSelected_precio3"
                        (change)="calcularPrecio(tab,3)">
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'precio3'"
                        [id]="'tab'+tab.noTab+'precio3'"
                        [disabled]="!tabsPrice[0].isSelected_precio3"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" 
                        autocomplete="off"
                        [(ngModel)]="tab.precio3"
                        (change)="calcularPorcentajeGanancia(tab,3)">
              </th>
            </tr>
            <!-- p4 -->
            <tr>
              <th>
                <p-checkbox
                  *ngIf="tab.noTab == 1; else elseP4"
                  label="4"
                  [binary]="true"
                  [inputId]="'tab'+tab.noTab+'check4'"
                  [(ngModel)]="tab.isSelected_precio4"
                  [ngModelOptions]="{standalone: true}"
                  (onChange)="guardaCheckPrecio($event.checked,'precio4',4)">
                </p-checkbox>
                <ng-template #elseP4>
                  4
                </ng-template>
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'porcentaje4'"
                        [id]="'tab'+tab.noTab+'porcentaje4'"
                        [(ngModel)]="tab.porcentaje4"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" 
                        autocomplete="off"
                        [disabled]="!tabsPrice[0].isSelected_precio4"
                        (change)="calcularPrecio(tab,4)">
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'precio4'"
                        [id]="'tab'+tab.noTab+'precio4'"
                        [disabled]="!tabsPrice[0].isSelected_precio4"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');" 
                        autocomplete="off"
                        [(ngModel)]="tab.precio4"
                        (change)="calcularPorcentajeGanancia(tab,4)">
              </th>
            </tr>
            <!-- p5 -->
            <tr>
              <th>
                <p-checkbox
                  *ngIf="tab.noTab == 1; else elseP5"
                  label="5"
                  [binary]="true"
                  [inputId]="'tab'+tab.noTab+'check5'"
                  [(ngModel)]="tab.isSelected_precio5"
                  [ngModelOptions]="{standalone: true}"
                  (onChange)="guardaCheckPrecio($event.checked,'precio5',5)">
                </p-checkbox>
                <ng-template #elseP5>
                  5
                </ng-template>
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'porcentaje5'"
                        [id]="'tab'+tab.noTab+'porcentaje5'"
                        [(ngModel)]="tab.porcentaje5"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');"
                        autocomplete="off"
                        [disabled]="!tabsPrice[0].isSelected_precio5"
                        (change)="calcularPrecio(tab,5)">
              </th>
              <th>
                <input class="form-control" type="text" [name]="'tab'+tab.noTab+'precio5'"
                        [id]="'tab'+tab.noTab+'precio5'"
                        [disabled]="!tabsPrice[0].isSelected_precio5"
                        oninput="this.value = this.value.replace(/[^\d.]/g, '').replace(/(\..*)\./g, '$1');"
                        autocomplete="off"
                        [(ngModel)]="tab.precio5"
                        (change)="calcularPorcentajeGanancia(tab,5)">
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- FIN TABLAS DE PRECIOS -->

    

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary mx-2"  [disabled]="aProd.invalid || isPrecioCorrecto">enviar</button>
    </div>

  </form>
</div>

<!-- INICIO MODAL CLAVE SAT -->
<ng-template #buscarClaveSat let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Buscar clave sat</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="col">
      <input class="form-control" type="text" placeholder="Escriba la descripcion del producto a buscar ...">
    </div>
    <br>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <th scope="row">1</th>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<!-- <ng-template #buscarClaveSat let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Buscar clave sat</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <iframe width="1120" height="460" src="http://pys.sat.gob.mx/PyS/catPyS.aspx">
    </iframe>
  </div>
</ng-template> -->
<!-- FIN MODAL CLAVE SAT -->

<!-- Confirmacion de guardado de producto -->
<p-confirmDialog 
    [style]="{width: '35vw'}" 
    [baseZIndex]="10000" 
    acceptLabel="Si" 
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<!-- Modal de producto guardado -->
<p-dialog
    header="Header"
    [(visible)]="mdl_SubmitProd"
    [modal]="true"
    [style]="{ width:'25vw' }"
    position="top"
    [dismissableMask]="true">
  <ng-template pTemplate="header">
    <h5 class="modal-title" id="modal-title-suc">El producto se registro en:</h5>
  </ng-template>
  <div>
    <table>
      <tbody>
        <tr *ngFor="let rb of sucursales_guardadas">
          <td class="branch_letter">
            {{rb.nombre_sucursal.toUpperCase()}}  
            <i class="pi pi-check branch_icon_success ps-1"></i>
          </td>
        </tr>
        <tr *ngFor="let rb of sucursales_fallidas">
          <td class="branch_letter">
            {{rb.nombre_sucursal.toUpperCase()}}  
            <i class="pi pi-times branch_icon_error" pTooltip="El producto no se guardo en esta sucursal." tooltipPosition="top"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</p-dialog>
