<p-toast></p-toast>
<div class="container">
  <form class="form-group" #aProd="ngForm" (ngSubmit)="submit(aProd)" (keydown.enter)="$event.preventDefault()">
    
    <!-- DATOS PRINCIPALES -->
    <div class="row align-items-start" >

      <h4 class="text-center">AGREGAR PRODUCTO</h4>

      <div class="col-3">
        <label for="ClaveExterna"  class="form-label">Clave externa *</label>
        <input type="text" class="form-control" id="ClaveExterna" name="claveEx" #claveEx="ngModel" [(ngModel)]="producto.claveEx" ngModel required >
          <div [hidden]="claveEx.valid || claveEx.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
          </div>
      </div>
    
      <div class="col-3">
        <label for="marca" class="form-label">Marca *</label>
        <select id="marca" class="form-select" name="idMarca" #idMarca="ngModel" [(ngModel)]="producto.idMarca" required>
          <option value="">Seleccione una opción</option>
          <option  *ngFor="let mar of marca" value={{mar.idMarca}}>{{mar.nombre}}</option>
        </select>
        <div [hidden]="idMarca.valid || idMarca.pristine" class="alert alert-danger">
          CAMPO REQUERIDO
        </div>
      </div>

      <div class="col-3">
        <label for="departamento" class="form-label">Departamento *</label>
        <select id="departamento" class="form-select" name="idDep" #idDep="ngModel" [(ngModel)]="producto.idDep" required>
          <option value="">Seleccione una opción</option>
          <option  *ngFor="let dep of departamentos" value={{dep.idDep}} >{{dep.nombre}}</option>
        </select>
        <div [hidden]="idDep.valid || idDep.pristine" class="alert alert-danger">
          CAMPO REQUERIDO
        </div>
      </div>

      <!-- <div class="col-3">
        <label for="categoria" class="form-label">Categoria *</label>
        <select id="categoria" class="form-select" name="idCat" #idCat="ngModel" [(ngModel)]="producto.idCat" required>
          <option value="">Seleccione una opción</option>
          <option  *ngFor="let cat of categoria" value={{cat.idCat}}>{{cat.nombre}}</option>
        </select>
        <div [hidden]="idCat.valid || idCat.pristine" class="alert alert-danger">
          CAMPO REQUERIDO 
        </div>
      </div> -->

      <div class="col-6">
        <label for="descripcion" class="form-label">Descripcion *</label>
        <textarea class="form-control" id="descripcion" rows="2" maxlength="254" 
                  name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion"
                  (input)="omitirEnter($event)" required >
        </textarea>
        <span class="justify-content-md-end">{{conta}}/254</span>
        <div [hidden]="descripcion.valid || descripcion.pristine" class="alert alert-danger">
          CAMPO REQUERIDO
        </div>
      </div>
      <div class="col-6">
        <label for="ubicacion" class="form-label">Ubicacion *</label>
        <textarea class="form-control" id="ubicacion" rows="2" maxlength="150" 
                  name="ubicacion" #ubicacion="ngModel" [(ngModel)]="producto.ubicacion"
                  (input)="omitirEnter($event)" required >
        </textarea>
        <span> {{contaUbi}}/150</span>
        <div [hidden]="ubicacion.valid || ubicacion.pristine" class="alert alert-danger">
          CAMPO REQUERIDO 
        </div>
      </div>

      <div class="col-2">
        <label for="imagen">Imagen</label>
        <p-fileUpload
                chooseLabel="Seleccione"
                mode="basic" 
                name="file0" 
                url="{{url + 'productos/uploadimage' + producto.imagen}}"
                [auto]="true"
                accept="image/*"
                [maxFileSize]="500000"
                (onUpload)="productImage($event)">
        </p-fileUpload>
        
      </div>

      <div class="col-1">
          <img src="{{url + 'productos/getImageProduc/' + producto.imagen}}" width="100px" height="100px">
      </div>

      <div class="col-3">
        <label for="almacen" class="form-label">Almacen *</label>
        <select id="almacen" class="form-select" name="idAlmacen" #idAlmacen="ngModel" [(ngModel)]="producto.idAlmacen" required>
          <option value="" selected>Seleccione una opción</option>
          <option  *ngFor="let a of almacenes" value={{a.idAlmacen}} >{{a.nombre}}</option>
        </select>
        <div [hidden]="idAlmacen.valid || idAlmacen.pristine" class="alert alert-danger">
          CAMPO REQUERIDO 
        </div>
      </div>

      <div class="col-3">
        <label for="tentrega" class="form-label">Tiempo de entrega (Proveedor) *</label>
        <select id="tentrega" class="form-select" name="tEntrega" #tEntrega="ngModel" [(ngModel)]="producto.tEntrega" required>
          <option value="">Seleccione una opción</option>
          <option value="1">1 Día</option>
          <option value="2">2 Días</option>
          <option value="3">3 Días</option>
          <option value="4">4 Días</option>
          <option value="5">5 Días</option>
          <option value="6">6 Días</option>
          <option value="7">7 Días</option>
          <option value="8">8 Días</option>
          <option value="9">9 Días</option>
          <option value="10">10 Días</option>
          <option value="11">11 Días</option>
          <option value="12">12 Días</option>
          <option value="13">13 Días</option>
          <option value="14">14 Días</option>
          <option value="15">15 Días</option>
          <option value="16">16 Días</option>
          <option value="17">17 Días</option>
          <option value="18">18 Días</option>
          <option value="19">19 Días</option>
          <option value="20">20 Días</option>
          <option value="21">21 Días</option>
          <option value="22">22 Días</option>
          <option value="23">23 Días</option>
          <option value="24">24 Días</option>
          <option value="25">25 Días</option>
          <option value="26">26 Días</option>
          <option value="27">27 Días</option>
          <option value="28">28 Días</option>
          <option value="29">29 Días</option>
          <option value="30">30 Días</option>

        </select>
        <div [hidden]="tEntrega.valid || tEntrega.pristine" class="alert alert-danger">
          CAMPO REQUERIDO 
        </div>
      </div>

      <div class="col-1">
        <label for="stockmin" class="form-label">Stock Min *</label>
        <input type="number" class="form-control" id="stockmin" name="stockMin" #stockMin="ngModel" [(ngModel)]="producto.stockMin" pattern="^[0-9]{1,6}" min="1" required>
        <div [hidden]="stockMin.valid || stockMin.pristine" class="alert alert-danger">
          CAMPO REQUERIDO | INGRESE SOLO NUMEROS MAYOR A 0 Y MAXIMO 999999
        </div>
      </div>

      <div class="col-1">
        <label for="stockmax" class="form-label">Stock Max *</label>
        <input type="number" class="form-control" id="stockmax" name="stockMax" #stockMax="ngModel" [(ngModel)]="producto.stockMax" pattern="^[0-9]{1,6}" min="1" required>
        <div [hidden]="stockMax.valid || stockMax.pristine" class="alert alert-danger">
          CAMPO REQUERIDO | INGRESE SOLO NUMEROS MAYOR A 0 Y MAXIMO 999999
        </div>
      </div>

      
      
    </div>
    <!-- FIN DATOS PRINCIPALES -->

    <hr>

    <!-- SECCION PRECIOS -->
    <div class="row align-items-start">
      <h4 class="text-center">PRECIOS</h4>

      <div class="col-4">
        <label class="form-label" for="checkPrecioCompra">Precio compra *</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input type="number" class="form-control" name="precioCompra" #precioCompra="ngModel" [(ngModel)]="datosTab1.preciocompra"  min="0.1"
           required>
          <div [hidden]="precioCompra.valid || precioCompra.pristine" class="alert alert-danger">
            CAMPO REQUERIDO | INGRESE SOLO NUMEROS MAYOR A 0 Y MAXIMO 9999999
          </div>
        </div>
      </div>
      <!-- <div class="col-3">
        <label class="form-label" for="checkPrecioCompra">P</label>
      </div> -->
      <div class="col-4">
        <label for="clavesat" class="form-label">Clave sat</label>
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" id="button-addonSeaarch" (click)="open(buscarClaveSat)"><i class="bi bi-search"></i></button>
          <input type="number" class="form-control" id="clavesat" name="claveSat" #claveSat="ngModel" [(ngModel)]="producto.claveSat" pattern="^[0-9]+" min="1" disabled>
        </div>
      </div>

      <div class="col-4">
        <label class="form-label" for="noMedidas">No. de medidas *</label>
        <select class="form-select" name="noMedidas" id="totalMedidas" ngModel #noMedidas="ngModel"  (ngModelChange)="seleccionaNoMedidas($event)" required>
          <option value="" disabled selected>Seleccione una opcion</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <div [hidden]="noMedidas.valid || noMedidas.pristine" class="alert alert-danger">
          CAMPO REQUERIDO 
        </div>
      </div>


    </div>

    <!-- TABLAS DE PRECIOS -->
    <div class="row justify-content-between">

      <!-- tab1 -->
      <div class="col-4">
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label" for="medida1">Medida 1 *</label>
            <select class="form-select" name="medida1" id="medida1" #medida1="ngModel" [(ngModel)]="datosTab1.idMedida" required>
              <option value="" disabled selected>Seleccione una medida</option>
              <option  *ngFor="let medida of medidas" value={{medida.idMedida}}>{{medida.nombre}}</option>
            </select>
            <div [hidden]="medida1.valid || medida1.pristine" class="alert alert-danger">
              CAMPO REQUERIDO 
            </div>
          </div>
          <div class="col">
            <label class="form-label" for="unidad1">Unidad *</label>
            <input class="form-control" type="number" name="unidad1" id="unidad1" 
                    #unidad1="ngModel" [(ngModel)]="datosTab1.unidad"  min="1" required>
            <div [hidden]="unidad1.valid || unidad1.pristine" class="alert alert-danger">
              CAMPO REQUERIDO 
            </div>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col">
            <label for="form-label">Precio compra medida</label>
            <input class="form-control" type="text" value="{{datosTab1.preciocompra}}" readonly>
          </div>
        </div>
        <br>

        <table class="table table-light " >
          <thead class="text-center">
            <tr>
              <th>#</th>
              <th>Porcentaje</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody >
            <!-- 1 -->
            <tr>
              <th>1</th>
              <th>
                <input  class="form-control" type="number" name="porcentaje1" id="porcentaje1" 
                        #porcentaje1="ngModel" [(ngModel)]="datosTab1.porcentaje1" min="0.1" 
                        (change)="calculaMonto($event)" required>
              </th>
              <th><!--[ngClass]="{'is-invalid':ksks}"-->
                <input  class="form-control"  type="number" name="tab1precio1" id="tab1precio1"
                        #tab1precio1="ngModel" [(ngModel)]="datosTab1.precio1" min="0.1"
                         (change)="calculaPorcentaje($event)" required>
              </th>
              
            </tr>
            <!-- 2 -->
            <tr>
              <th>2</th>
              <th>
                <input class="form-control" type="number" name="porcentaje2" id="porcentaje2" 
                        #porcentaje2="ngModel" [(ngModel)]="datosTab1.porcentaje2" min="0.1"
                        (change)="calculaMonto($event)" required>
              </th>
              <th>
                <input class="form-control" type="number" name="tab1precio2" id="tab1precio2"
                        #tab1precio2="ngModel" [(ngModel)]="datosTab1.precio2" min="0.1"
                         (change)="calculaPorcentaje($event)" required>
              </th>
            </tr>
            <!-- 3 -->
            <tr>
              <th>3</th>
              <th>
                <input class="form-control" type="number" name="porcentaje3" id="porcentaje3" 
                        #porcentaje3="ngModel" [(ngModel)]="datosTab1.porcentaje3" min="0.1"
                        (change)="calculaMonto($event)" required>
              </th>
              <th>
                <input class="form-control" type="number" name="tab1precio3" id="tab1precio3"
                        #tab1precio3="ngModel" [(ngModel)]="datosTab1.precio3" min="0.1"
                         (change)="calculaPorcentaje($event)" required>
              </th>
            </tr>
            <!-- 4 -->
            <tr>
              <th>4</th>
              <th>
                <input class="form-control" type="number" name="porcentaje4" id="porcentaje4" 
                        #porcentaje4="ngModel" [(ngModel)]="datosTab1.porcentaje4" min="0.1"
                        (change)="calculaMonto($event)" required>
              </th>
              <th>
                <input class="form-control" type="number" name="tab1precio4" id="tab1precio4"
                        #tab1precio4="ngModel" [(ngModel)]="datosTab1.precio4" min="0.1"
                         (change)="calculaPorcentaje($event)" required>
              </th>
            </tr>
            <!-- 5 -->
            <tr>
              <th>5</th>
              <th>
                <input class="form-control" type="number" name="porcentaje5" id="porcentaje5" 
                        #porcentaje5="ngModel" [(ngModel)]="datosTab1.porcentaje5" min="0.1"
                        (change)="calculaMonto($event)" required>
              </th>
              <th>
                <input class="form-control" type="number" name="tab1precio5" id="tab1precio5"
                        #tab1precio5="ngModel" [(ngModel)]="datosTab1.precio5" min="0.1"
                         (change)="calculaPorcentaje($event)" required>
              </th>
            </tr>
          </tbody>
        </table>

      </div>
      
      <!-- tab2 -->
      <div class="col-4" [hidden]="tab2">
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label" for="medida2">Medida 2</label>
            <select class="form-select" name="medida2" id="medida2" #medida2="ngModel" [(ngModel)]="datosTab2.idMedida" >
              <option value="" disabled selected>Seleccione una medida</option>
              <option  *ngFor="let medida of medidas" value={{medida.idMedida}}>{{medida.nombre}}</option>
            </select>
            
          </div>
          <div class="col">
            <label class="form-label" for="unidad2">Unidad</label>
            <input class="form-control" type="number" name="unidad2" id="unidad2" 
                    #unidad2="ngModel" [(ngModel)]="datosTab2.unidad"   >
            
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label">¿Igualar porcentaje?</label>
            <br>
            <input class="form-check-input" type="checkbox" id="checkTab2" 
                    name="checkTab2" [(ngModel)]="checkTab2" (change)="igualaPorcentaje($event)" >
          </div>
          <div class="col">
            <label class="form-label" for="">Aplicar porcentaje</label>
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" id="aplicaPorcentaje2" (click)="asignaPorcentaje($event)">Aplicar</button>
              <input type="text" class="form-control" placeholder="" id="aplicaValue2">
            </div>
          </div>
        </div>
        
        <table class="table table-light " >
          <thead class="text-center">
            <tr>
              <th>#</th>
              <th>Porcentaje</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody >
            <!-- 1 -->
            <tr>
              <th>1</th>
              <th>
                <input  class="form-control" type="number" name="tab2porcentaje1" id="tab2porcentaje1" 
                        #tab2porcentaje1="ngModel" [(ngModel)]="datosTab2.porcentaje1"  
                        (change)="tab2calculaMonto($event)" >
              </th>
              <th><!--[ngClass]="{'is-invalid':ksks}"-->
                <input  class="form-control"  type="number" name="tab2precio1" id="tab2precio1"
                        #tab2precio1="ngModel" [(ngModel)]="datosTab2.precio1" 
                         (change)="tab2calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 2 -->
            <tr>
              <th>2</th>
              <th>
                <input class="form-control" type="number" name="tab2porcentaje2" id="tab2porcentaje2" 
                        #tab2porcentaje2="ngModel" [(ngModel)]="datosTab2.porcentaje2" 
                        (change)="tab2calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab2precio2" id="tab2precio2"
                        #tab2precio2="ngModel" [(ngModel)]="datosTab2.precio2" 
                         (change)="tab2calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 3 -->
            <tr>
              <th>3</th>
              <th>
                <input class="form-control" type="number" name="tab2porcentaje3" id="tab2porcentaje3" 
                        #tab2porcentaje3="ngModel" [(ngModel)]="datosTab2.porcentaje3" 
                        (change)="tab2calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab2precio3" id="tab2precio3"
                        #tab2precio3="ngModel" [(ngModel)]="datosTab2.precio3" 
                         (change)="tab2calculaPorcentaje($event)" >
            </th>
            
            </tr>
            <!-- 4 -->
            <tr>
              <th>4</th>
              <th>
                <input class="form-control" type="number" name="tab2porcentaje4" id="tab2porcentaje4" 
                        #tab2porcentaje4="ngModel" [(ngModel)]="datosTab2.porcentaje4" 
                        (change)="tab2calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab2precio4" id="tab2precio4"
                        #tab2precio4="ngModel" [(ngModel)]="datosTab2.precio4" 
                         (change)="tab2calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 5 -->
            <tr>
              <th>5</th>
              <th>
                <input class="form-control" type="number" name="tab2porcentaje5" id="tab2porcentaje5" 
                        #tab2porcentaje5="ngModel" [(ngModel)]="datosTab2.porcentaje5" 
                        (change)="tab2calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab2precio5" id="tab2precio5"
                        #tab2precio5="ngModel" [(ngModel)]="datosTab2.precio5" 
                         (change)="tab2calculaPorcentaje($event)" >
              </th>
            </tr>
            

          </tbody>
        </table>

      </div>

      <!-- tab3 -->
      <div class="col-4" [hidden]="tab3">
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label" for="medida3">Medida 3</label>
            <select class="form-select" name="medida3" id="medida3" #medida3="ngModel" [(ngModel)]="datosTab3.idMedida" >
              <option value="" disabled selected>Seleccione una medida</option>
              <option  *ngFor="let medida of medidas" value={{medida.idMedida}}>{{medida.nombre}}</option>
            </select>
            
          </div>
          <div class="col">
            <label class="form-label" for="unidad3">Unidad</label>
            <input class="form-control" type="number" name="unidad3" id="unidad3" 
                    #unidad3="ngModel" [(ngModel)]="datosTab3.unidad"   >
            
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label">¿Igualar porcentaje?</label>
            <br>
            <input class="form-check-input" type="checkbox" id="checkTab3" 
                    name="checkTab3" [(ngModel)]="checkTab3" (change)="igualaPorcentaje($event)" >
          </div>
          <div class="col">
            <label class="form-label" for="">Aplicar porcentaje</label>
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" id="aplicaPorcentaje3" (click)="asignaPorcentaje($event)">Aplicar</button>
              <input type="text" class="form-control" placeholder="" id="aplicaValue3">
            </div>
          </div>
        </div>
        <table class="table table-light " >
          <thead class="text-center">
            <tr>
              <th>#</th>
              <th>Porcentaje</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody >
            <!-- 1 -->
            <tr>
              <th>1</th>
              <th>
                <input  class="form-control" type="number" name="tab3porcentaje1" id="tab3porcentaje1" 
                        #tab3porcentaje1="ngModel" [(ngModel)]="datosTab3.porcentaje1"  
                        (change)="tab3calculaMonto($event)" >
              </th>
              <th><!--[ngClass]="{'is-invalid':ksks}"-->
                <input  class="form-control"  type="number" name="tab3precio1" id="tab3precio1"
                        #tab3precio1="ngModel" [(ngModel)]="datosTab3.precio1" 
                         (change)="tab3calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 2 -->
            <tr>
              <th>2</th>
              <th>
                <input class="form-control" type="number" name="tab3porcentaje2" id="tab3porcentaje2" 
                        #tab3porcentaje2="ngModel" [(ngModel)]="datosTab3.porcentaje2" 
                        (change)="tab3calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab3precio2" id="tab3precio2"
                        #tab3precio2="ngModel" [(ngModel)]="datosTab3.precio2" 
                         (change)="tab3calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 3 -->
            <tr>
              <th>3</th>
              <th>
                <input class="form-control" type="number" name="tab3porcentaje3" id="tab3porcentaje3" 
                        #tab3porcentaje3="ngModel" [(ngModel)]="datosTab3.porcentaje3" 
                        (change)="tab3calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab3precio3" id="tab3precio3"
                        #tab3precio3="ngModel" [(ngModel)]="datosTab3.precio3" 
                         (change)="tab3calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 4 -->
            <tr>
              <th>4</th>
              <th>
                <input class="form-control" type="number" name="tab3porcentaje4" id="tab3porcentaje4" 
                        #tab3porcentaje4="ngModel" [(ngModel)]="datosTab3.porcentaje4" 
                        (change)="tab3calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab3precio4" id="tab3precio4"
                        #tab3precio4="ngModel" [(ngModel)]="datosTab3.precio4" 
                         (change)="tab3calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 5 -->
            <tr>
              <th>5</th>
              <th>
                <input class="form-control" type="number" name="tab3porcentaje5" id="tab3porcentaje5" 
                        #tab3porcentaje5="ngModel" [(ngModel)]="datosTab3.porcentaje5" 
                        (change)="tab3calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab3precio5" id="tab3precio5"
                        #tab3precio5="ngModel" [(ngModel)]="datosTab3.precio5" 
                         (change)="tab3calculaPorcentaje($event)" >
              </th>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- tab4 -->
      <div class="col-4" [hidden]="tab4">
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label" for="medida4">Medida 4</label>
            <select class="form-select" name="medida4" id="medida4" #medida4="ngModel" [(ngModel)]="datosTab4.idMedida" >
              <option value="" disabled selected>Seleccione una medida</option>
              <option  *ngFor="let medida of medidas" value={{medida.idMedida}}>{{medida.nombre}}</option>
            </select>
            
          </div>
          <div class="col">
            <label class="form-label" for="unidad4">Unidad</label>
            <input class="form-control" type="number" name="unidad4" id="unidad4" 
                    #unidad4="ngModel" [(ngModel)]="datosTab4.unidad"   >
            
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label">¿Igualar porcentaje?</label>
            <br>
            <input class="form-check-input" type="checkbox" id="checkTab4" 
                    name="checkTab4" [(ngModel)]="checkTab4" (change)="igualaPorcentaje($event)" >
          </div>
          <div class="col">
            <label class="form-label" for="">Aplicar porcentaje</label>
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" id="aplicaPorcentaje4" (click)="asignaPorcentaje($event)">Aplicar</button>
              <input type="text" class="form-control" placeholder="" id="aplicaValue4">
            </div>
          </div>
        </div>
        <table class="table table-light " >
          <thead class="text-center">
            <tr>
              <th>#</th>
              <th>Porcentaje</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody >
            <!-- 1 -->
            <tr>
              <th>1</th>
              <th>
                <input  class="form-control" type="number" name="tab4porcentaje1" id="tab4porcentaje1" 
                        #tab4porcentaje1="ngModel" [(ngModel)]="datosTab4.porcentaje1"  
                        (change)="tab4calculaMonto($event)" >
              </th>
              <th><!--[ngClass]="{'is-invalid':ksks}"-->
                <input  class="form-control"  type="number" name="tab4precio1" id="tab4precio1"
                        #tab4precio1="ngModel" [(ngModel)]="datosTab4.precio1" 
                         (change)="tab4calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 2 -->
            <tr>
              <th>2</th>
              <th>
                <input class="form-control" type="number" name="tab4porcentaje2" id="tab4porcentaje2" 
                        #tab4porcentaje2="ngModel" [(ngModel)]="datosTab4.porcentaje2" 
                        (change)="tab4calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab4precio2" id="tab4precio2"
                        #tab4precio2="ngModel" [(ngModel)]="datosTab4.precio2" 
                         (change)="tab4calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 3 -->
            <tr>
              <th>3</th>
              <th>
                <input class="form-control" type="number" name="tab4porcentaje3" id="tab4porcentaje3" 
                        #tab4porcentaje3="ngModel" [(ngModel)]="datosTab4.porcentaje3" 
                        (change)="tab4calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab4precio3" id="tab4precio3"
                        #tab4precio3="ngModel" [(ngModel)]="datosTab4.precio3" 
                         (change)="tab4calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 4 -->
            <tr>
              <th>4</th>
              <th>
                <input class="form-control" type="number" name="tab4porcentaje4" id="tab4porcentaje4" 
                        #tab4porcentaje4="ngModel" [(ngModel)]="datosTab4.porcentaje4" 
                        (change)="tab4calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab4precio4" id="tab4precio4"
                        #tab4precio4="ngModel" [(ngModel)]="datosTab4.precio4" 
                         (change)="tab4calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 5 -->
            <tr>
              <th>5</th>
              <th>
                <input class="form-control" type="number" name="tab4porcentaje5" id="tab4porcentaje5" 
                        #tab4porcentaje5="ngModel" [(ngModel)]="datosTab4.porcentaje5" 
                        (change)="tab4calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab4precio5" id="tab4precio5"
                        #tab4precio5="ngModel" [(ngModel)]="datosTab4.precio5" 
                         (change)="tab4calculaPorcentaje($event)" >
              </th>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- tab5 -->
      <div class="col-4" [hidden]="tab5">
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label" for="medida5">Medida 5</label>
            <select class="form-select" name="medida5" id="medida5" #medida5="ngModel" [(ngModel)]="datosTab5.idMedida" >
              <option value="" disabled selected>Seleccione una medida</option>
              <option  *ngFor="let medida of medidas" value={{medida.idMedida}}>{{medida.nombre}}</option>
            </select>
            
          </div>
          <div class="col">
            <label class="form-label" for="unidad5">Unidad</label>
            <input class="form-control" type="number" name="unidad5" id="unidad5" 
                    #unidad5="ngModel" [(ngModel)]="datosTab5.unidad"   >
            
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col">
            <label class="form-label">¿Igualar porcentaje?</label>
            <br>
            <input class="form-check-input" type="checkbox" id="checkTab5" 
                    name="checkTab5" [(ngModel)]="checkTab5" (change)="igualaPorcentaje($event)" >
          </div>
          <div class="col">
            <label class="form-label" for="">Aplicar porcentaje</label>
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" id="aplicaPorcentaje5" (click)="asignaPorcentaje($event)">Aplicar</button>
              <input type="text" class="form-control" placeholder="" id="aplicaValue5">
            </div>
          </div>
        </div>
        <table class="table table-light " >
          <thead class="text-center">
            <tr>
              <th>#</th>
              <th>Porcentaje</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody >
            <!-- 1 -->
            <tr>
              <th>1</th>
              <th>
                <input  class="form-control" type="number" name="tab5porcentaje1" id="tab5porcentaje1" 
                        #tab5porcentaje1="ngModel" [(ngModel)]="datosTab5.porcentaje1"  
                        (change)="tab5calculaMonto($event)" >
              </th>
              <th><!--[ngClass]="{'is-invalid':ksks}"-->
                <input  class="form-control"  type="number" name="tab5precio1" id="tab5precio1"
                        #tab5precio1="ngModel" [(ngModel)]="datosTab5.precio1" 
                         (change)="tab5calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 2 -->
            <tr>
              <th>2</th>
              <th>
                <input class="form-control" type="number" name="tab5porcentaje2" id="tab5porcentaje2" 
                        #tab5porcentaje2="ngModel" [(ngModel)]="datosTab5.porcentaje2" 
                        (change)="tab5calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab5precio2" id="tab5precio2"
                        #tab5precio2="ngModel" [(ngModel)]="datosTab5.precio2" 
                         (change)="tab5calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 3 -->
            <tr>
              <th>3</th>
              <th>
                <input class="form-control" type="number" name="tab5porcentaje3" id="tab5porcentaje3" 
                        #tab5porcentaje3="ngModel" [(ngModel)]="datosTab5.porcentaje3" 
                        (change)="tab5calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab5precio3" id="tab5precio3"
                        #tab5precio3="ngModel" [(ngModel)]="datosTab5.precio3" 
                         (change)="tab5calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 4 -->
            <tr>
              <th>4</th>
              <th>
                <input class="form-control" type="number" name="tab5porcentaje4" id="tab5porcentaje4" 
                        #tab5porcentaje4="ngModel" [(ngModel)]="datosTab5.porcentaje4" 
                        (change)="tab5calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab5precio4" id="tab5precio4"
                        #tab5precio4="ngModel" [(ngModel)]="datosTab5.precio4" 
                         (change)="tab5calculaPorcentaje($event)" >
              </th>
            </tr>
            <!-- 5 -->
            <tr>
              <th>5</th>
              <th>
                <input class="form-control" type="number" name="tab5porcentaje5" id="tab5porcentaje5" 
                        #tab5porcentaje5="ngModel" [(ngModel)]="datosTab5.porcentaje5" 
                        (change)="tab5calculaMonto($event)" >
              </th>
              <th>
                <input class="form-control" type="number" name="tab5precio5" id="tab5precio5"
                        #tab5precio5="ngModel" [(ngModel)]="datosTab5.precio5" 
                         (change)="tab5calculaPorcentaje($event)" >
              </th>
            </tr>
          </tbody>
        </table>

      </div>
    
    </div>
    <!-- FIN TABLAS DE PRECIOS -->

    

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary mx-2"  [disabled]="aProd.invalid">enviar</button>
    </div>

  </form>
</div>

<!-- INICIO MODAL CLAVE SAT -->
<ng-template #buscarClaveSat let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Buscar clave sat</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="col">
      <input class="form-control" type="text" placeholder="Escriba la descripcion del producto a buscar ...">
    </div>
    <br>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <th scope="row">1</th>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<!-- <ng-template #buscarClaveSat let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Buscar clave sat</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <iframe width="1120" height="460" src="http://pys.sat.gob.mx/PyS/catPyS.aspx">
    </iframe>
  </div>
</ng-template> -->
<!-- FIN MODAL CLAVE SAT -->
