<div class="container">
    <br>
    <h2>Empleados con caja abierta</h2>
    <br>
    <div class="row">
        <div class="col" *ngFor="let sesion of sesiones">
            <h4> <span class="badge bg-secondary" (click)="getMovSesionCaja(sesion)">{{sesion.nombreEmpleado}}<br>{{sesion.pc}}</span></h4>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <h3 class="text-center">Movimientos</h3>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col" ># movimiento</th>
                <th scope="col" >Tipo movimiento</th>
                <th scope="col" >origen</th>
                <th scope="col" >total nota</th>
                <th scope="col" >tipo pago</th>
                <th scope="col" >pago cliente</th>
                <th scope="col" >cambio cliente</th>
            </tr>
        </thead>
        <tbody *ngFor="let mCaja of movCaja | paginate:{id:'pagination',itemsPerPage: 10, currentPage: pageActual}">
            <tr>
                <th scope="row">{{mCaja.idMovCaja}}</th>
                <th scope="row">{{mCaja.nombreTipoMov}}</th>
                <th scope="row">{{mCaja.idOrigen}}</th>
                <th scope="row">{{mCaja.totalNota | currency}}</th>
                <th scope="row">{{mCaja.nombreTipoPago}}</th>
                <th scope="row">{{mCaja.pagoCliente | currency}}</th>
                <th scope="row">{{mCaja.cambioCliente | currency}}</th>
            </tr>
        </tbody>
    </table>
    <pagination-controls id="pagination" (pageChange)="pageActual = $event"></pagination-controls>
    <br>
    <hr>
    <br>
    <div *ngIf="movCaja != null">
        <h3 class="text-center">Totales</h3>
        <form>
            <div class="row mb-3 justify-content-between">
                <label for="inputEfectivo" class="col-sm-2 col-form-label">EFECTIVO</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{efectivo | currency}}" disabled>
                </div>
                <label for="inputEfectivo" class="col-sm-2 col-form-label">TARJETA</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{tarjeta | currency}}" disabled>
                </div>
            </div>
            <div class="row mb-3 justify-content-between">
                <label for="inputEfectivo" class="col-sm-2 col-form-label">TRANSFERENCIA</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{transferencia | currency}}" disabled>
                </div>
                <label for="inputEfectivo" class="col-sm-2 col-form-label">CREDITO</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{credito | currency}}" disabled>
                </div>
            </div>
            <div class="row mb-3 justify-content-between">
                <label for="inputEfectivo" class="col-sm-2 col-form-label">CHEQUE</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{cheque | currency}}" disabled>
                </div>
                <label for="inputEfectivo" class="col-sm-2 col-form-label">DEPOSITO</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{deposito | currency}}" disabled>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <label for="inputEfectivo" class="col-sm-2 col-form-label">FONDO</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{fondo | currency}}" disabled>
                </div>
            </div>
            <div class="row mb-3 ">
                <label for="inputEfectivo" class="col-sm-2 col-form-label">TOTAL</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="inputEfectivo" value="{{total | currency}}" disabled>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-success " (click)="generaCorte()">GENERAR CORTE</button>
                </div>
            </div>
        </form>
    </div>
    
</div>