<p-toast></p-toast>
<div class="container">
    <div class="row">
        <div class="col">
        <h4 class="text-center">DATOS PERSONALES</h4>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">¿Es una empresa?</label>
                <input class="form-check-input" type="checkbox" role="switch"  id="flexSwitchCheckDefault" name="isCompany" [(ngModel)]="isCompany">
              </div>
        </div>
    </div>
    <br>
    
    <form class="form-group" #FormCliente="ngForm" (ngSubmit)="guardarCliente(FormCliente)">
        <div class="row align-items-start">
            <div *ngIf="isCompany == false; else elseBlock" class="row">
                <div class="col-4">
                    <label class="form-label" for="">Nombre(s) *</label>
                    <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text" maxlength="254"
                            name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre" ngModel required>
                    <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                      CAMPO REQUERIDO
                    </div>
                </div>
                <div class="col-3">
                    <label class="form-label" for="">Apellido paterno</label>
                    <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text" maxlength="80"
                            name="aPaterno" #aPaterno="ngModel" [(ngModel)]="cliente.aPaterno">
                </div>
                <div class="col-3">
                    <label class="form-label" for="">Apellido materno</label>
                    <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text" maxlength="80"
                            name="aMaterno" #aMaterno="ngModel" [(ngModel)]="cliente.aMaterno">
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="col-12">
                    <label class="form-label" for="">Nombre de empresa *</label>
                    <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text" maxlength="254"
                            name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre" ngModel required>
                    <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                      CAMPO REQUERIDO
                    </div>
                </div>
            </ng-template>
            
            <div class="col-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="isEmail" [(ngModel)]="isEmail" id="flexCheckDefault4">
                <label class="form-label" for="">Correo</label>
              </div>
              <div *ngIf="isEmail == true; else Emailgeneric">
                <input class="form-control"  type="email" name="correo" #correo="ngModel" maxlength="80"
                        [(ngModel)]="cliente.correo" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div [hidden]="correo.valid || correo.pristine" class="alert alert-danger">
                  CAMPO REQUERIDO EN FORMATO : correo@domino.com
                </div>
              </div>
              <ng-template #Emailgeneric>
                <div>
                  <input class="form-control" value="correo@domino.com" readonly>
                </div>
              </ng-template>
            </div>
            <div class="col-3">
                <label class="form-label" for="">Tipo cliente *</label>
                <select class="form-select" name="idTipo" #idTipo="ngModel" [(ngModel)]="cliente.idTipo"  required>
                    <!-- <option selected disabled>Abrir para seleccionar</option> -->
                    <option *ngFor="let tp of tipocliente" value="{{tp.idTipo}}">{{tp.nombre}}</option>
                </select>
            </div>
            <!--  -->
            <div class="col-2 ">
                <label class="form-label" for="">¿Agregar direccion?</label>
                <div class="col-md-3 offset-md-3">
                  <input class="form-check-input" type="checkbox" name="checkDireccion" [(ngModel)]="checkDireccion" id="flexCheckDefault2" (change)="mdlDireccion = checkDireccion">
                </div>
                <!-- <button class="btn btn-success form-control" type="button" (click)="open(content)"> Agregar dirección</button> -->
            </div>
            <!--  -->
        </div>
        <hr>
        <div class="row align-items-start">
            <div class="col-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="isRFC" [(ngModel)]="isRFC" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">
                  ¿Tiene RFC?
                </label>
              </div>
              <div *ngIf="isRFC == true; else RFCgenerico">
                <input class="form-control" maxlength="13" oninput="this.value = this.value.toUpperCase()" type="text"
                         name="rfc" #rfc="ngModel" [(ngModel)]="cliente.rfc">
                <div [hidden]="rfc.valid || rfc.pristine" class="alert alert-danger">
                  CAMPO REQUERIDO
                </div>
              </div>
              <ng-template #RFCgenerico>
                <div>
                  <input class="form-control" value="XAXX010101000" readonly>
                </div>
              </ng-template>
            </div>
            <div class="col-3">
                    <label class="form-label" for="flexCheckDefault">¿Tiene credito?</label>
                    <div class="col-md-2 offset-md-2">
                      <input class="form-check-input" type="checkbox" value="false"  name="test" [(ngModel)]="isCredito" id="flexCheckDefault">
                    </div>
            </div>

            <div *ngIf="isCredito" class="col-3 ">
                <label class="form-label" for="">Cantidad de credito</label>
                <input class="form-control" type="number" name="credito" #credito="ngModel" pattern="^[0-9]{1,10}" [(ngModel)]="cliente.credito">
            </div>
            
        </div>
        <hr>
        <div *ngIf="checkDireccion" >
            <h5>Direccion</h5>
            <input type="text" class="form-control" value="{{strDireccion}}" readonly>
        </div>
        <br>
        <div>
            <div class="col-12">
                <button  class="btn btn-primary" type="submit" [disabled]="FormCliente.invalid">Guardar</button>
            </div>
        </div>

    </form>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    
</ng-template>

<p-dialog
  header="Header"
  [(visible)]="mdlDireccion"
  [modal]="true" 
  [style]="{ 'width': '25vw'}"
  [draggable]="true" 
  [position]="'top'"
  [dismissableMask] = "false"
  (onHide)="validateFormCdireccion()">
  <ng-template pTemplate="header">
    <table>
      <tr>
        <th><h5>Agregar direccion</h5></th>
      </tr>
      <tr >
        <th ><p style="font-size: small;">(Todos los campos con * son obligatorios)</p></th>
      </tr>
    </table>
  </ng-template>
  <form #FormCdireccion="ngForm" (ngSubmit)="validateFormCdireccion()">
          <!-- calle -->
          <div class="col-12">
            <label class="form-label" for="">Calle *</label>
            <input class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()" type="text"
                    name="calle" #calle="ngModel" [(ngModel)]="cdireccion.calle" maxlength="50" required autocomplete="off">
            <div [hidden]="calle.valid || calle.pristine" class="alert alert-danger">
              CAMPO REQUERIDO
            </div>
          </div>
            <!-- numero -->
          <div class="col-12">
            <label class="form-label" for="">Numero</label>
            <input class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()" type="text"
                    name="numExt" #numExt="ngModel" [(ngModel)]="cdireccion.numExt" maxlength="10" autocomplete="off">
            <div [hidden]="numExt.valid || numExt.pristine" class="alert alert-danger">
              CAMPO REQUERIDO
            </div>      
          </div>
        <!-- Ciudad -->
        <div class="col-12">
          <label class="form-label" for="">Ciudad</label>
          <input class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()" type="text"
                  name="ciudad" #ciudad="ngModel" [(ngModel)]="cdireccion.ciudad" maxlength="50" >
          <div [hidden]="ciudad.valid || ciudad.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
          </div>
        </div>
          <!--Colonia  -->
        <div class="col-12">
          <label class="form-label" for="">Colonia *</label>
          <input class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()" type="text"
                  name="colonia" #colonia="ngModel" [(ngModel)]="cdireccion.colonia" maxlength="50" required autocomplete="off">
          <div [hidden]="colonia.valid || colonia.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
          </div>
        </div>
       
        <!-- telefono -->
        <div class="col-12">
          <label class="form-label" for="">Telefono *</label>
          <input class="form-control form-control-sm" type="text" maxlength="10" min="0" pattern="^[0-9]{10}"
                  name="telefono" #telefono="ngModel" [(ngModel)]="cdireccion.telefono" required 
                  oninput="this.value = this.value.replace(/[^0-9]/g, '');" autocomplete="off">
          <div [hidden]="telefono.valid || telefono.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
            SOLO INGRESAR HASTA 10 NUMEROS
          </div> 
        </div>
        <!-- referencia -->
        <div class="col-12">
          <label class="form-label" for="">Referencia</label>
          <textarea class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()" maxlength="254"
                      rows="1" name="referencia" #referencia="ngModel" [(ngModel)]="cdireccion.referencia"></textarea>
          <div [hidden]="referencia.valid || referencia.pristine" class="alert alert-danger">
            CAMPO REQUERIDO
          </div> 
        </div>   
        <div class="col-12 mt-1">
          <button type="submit" class="btn btn-success" [disabled]="FormCdireccion.invalid" >Guardar</button> 
        </div>               
  </form>
</p-dialog>