<p-toast></p-toast>
<app-loading-spinner [isLoading]="isLoadingGeneral"></app-loading-spinner>
<div class="container" *ngIf="sesionCaja">
    <h3 class="text-center">Buscar ventas realizadas</h3>
</div>
<div class="container-fluid" *ngIf="sesionCaja; else elseBlock">
    <div class="input-group mb-2">
        <div class="col-2">
            <select class="form-select" name="tipoBusqueda" [(ngModel)]="tipoBusqueda" (ngModelChange)="seleccionTipoBusqueda($event)">
                <option value="1" selected># Folio</option>
                <option value="2">Cliente</option>
                <option value="3">Vendedor</option>
            </select>
        </div>
        <div class="col" *ngIf="tipoBusqueda == 1">
            <input class="form-control" type="text" name="buscaFolio" placeholder="Buscar . . ." [(ngModel)]="buscaFolio" pattern="[0-9]+">
        </div>
        <div class="col" *ngIf="tipoBusqueda == 2">
            <input class="form-control" type="text" name="buscaNombreCliente" placeholder="Buscar . . ." [(ngModel)]="buscaNombreCliente" >
        </div>
        <div class="col" *ngIf="tipoBusqueda == 3">
            <input class="form-control" type="text" name="buscaNombreEmpleado" placeholder="Buscar . . ." [(ngModel)]="buscaNombreEmpleado">
        </div>
    </div>
    <br>
    <div class="text-center text-primary" *ngIf="isLoading">
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">FOLIO</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">CLIENTE</th>
                    <th scope="col">VENDEDOR</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>                           <!-- Se agrega filtro de cotizaciones para clientes-->
            <tbody *ngFor="let venta of ventas | filterCotizacionesNomC: buscaNombreCliente | filterIdventa: buscaFolio | filterVendedor: buscaNombreEmpleado | paginate:{id:'paginationVentas',itemsPerPage: 10, currentPage: pageActual}">
                <tr (click)="openMdlVenta(venta)">
                    <th scope="row">{{venta.idVenta}}</th>
                    <th scope="row">{{venta.created_at | date: 'dd/MM/yyyy'}}</th>
                    <th scope="row">{{ venta.nombreCliente.length > 40 ? (venta.nombreCliente | slice:0:25) + '...' : venta.nombreCliente }}</th>
                    <th scope="row">{{venta.nombreEmpleado.length > 40 ? (venta.nombreEmpleado | slice:0:25) + '...' : venta.nombreEmpleado }}</th>
                    <th scope="row">{{venta.total | currency:'MXN'}}</th>
                </tr>
            </tbody>
        </table>
        <pagination-controls id="paginationVentas" (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>
<ng-template #elseBlock>
    <div class="container">
        <form class="form-group" #FormCaja="ngForm" (ngSubmit)="iniciarCaja(FormCaja)">
            <h4 class="text-center">Iniciar caja</h4>
            <div class="row justify-content-center">
                <div class="col-4">
                    <label class="form-label">Fondo</label>
                    <input class="form-control" type="number" name="fondo" #fondo="ngModel" [(ngModel)]="caja.fondo" ngModel required>
                    <div [hidden]="fondo.valid || fondo.pristine" class="alert alert-danger">CAMPO REQUERIDO</div>
                </div>
            </div>
            <br>
            <div class="row justify-content-end">
                <div class="col-5">
                    <button class="btn btn-success" type="submit">Iniciar</button>
                </div>
            </div>
        </form>
    </div>

</ng-template>

<app-modal-ventas></app-modal-ventas>