<p-toast></p-toast>
<app-loading-spinner [isLoading]="isLoadingGeneral"></app-loading-spinner>
<div class="container-fluid">
    <div class="me-2">
        <p-dropdown 
            [options]="optionsSelect"
            [(ngModel)]="selectedOpt"
            optionLabel="name"
            [showClear]="true"
            placeholder="Selecciona una opcion"
            [style]="{ 'width': '15%' }"
            (ngModelChange)="onSearch()"
        ></p-dropdown>
        <p-dropdown 
            [options]="optionsSelectStatus"
            [(ngModel)]="selectedOptStatus"
            optionLabel="name"
            [showClear]="true"
            placeholder="Selecciona una opcion"
            [style]="{ 'width': '15%' }"
            (ngModelChange)="onSearch()"
        ></p-dropdown>
        <input type="text" pInputText [(ngModel)]="valSearch" [style]="{ 'min-width': '70%' }" (ngModelChange)="onSearch()">
    </div>
    <p-table
        [value]="proveedores"
        styleClass="p-datatable-sm mt-3"
        [scrollable]="false" 
        scrollHeight="43vh" 
        [resizableColumns]="true"
        selectionMode="single"
        [(selection)]="selectedProveedor"
        dataKey="idProveedor"
        (onRowSelect)="onRowSelect($event)"
        [style]="{'font-size':'small', 'color':'black'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Credito dias</th>
                <th>Contacto</th>
                <th>Telefono contacto</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-proveedor>
            <tr [pSelectableRow]="proveedor" (dblclick)="onRowDoubleClick(proveedor)">
                <td class="col-medium-2">{{proveedor.nombre}}</td>
                <td class="col-small">{{proveedor.rfc}}</td>
                <td class="col-small">{{proveedor.rfc }}</td>
                <td class="col-small">{{proveedor.telefono}}</td>
                <td class="col-small">{{proveedor.creditoDias }}</td>
                <td class="col-small">{{proveedor.contactos[0].nombre }}</td>
                <td class="col-small">{{proveedor.contactos[0].telefono }}</td>
                <td class="col-small">{{proveedor.idStatus == 55 ? 'Activo' : 'Inactivo'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
