
<div class="container">
    <br>
    <div class="row justify-content-between">
        <div class="col-5">
            <h1>Modulo de proveedores</h1>
        </div>
        <div class="col-auto" *ngFor="let permiso of userPermisos">
            <button type="button" value="Agregar" class="btn btn-success me-md-2" [routerLink]="['agregarProveedor']" style="box-sizing: border-box;" *ngIf="permiso.agregar == 1"><i class="bi bi-plus-circle"></i><br>Agregar</button>
            <button type="button" value="Buscar" class="btn btn-primary me-md-2" [routerLink]="['proveedorBuscar']" style="box-sizing: border-box;" *ngIf="permiso.ver == 1"><i class="bi bi-search"></i><br>Buscar</button>
            <button type="button" value="Deshabilitados" class="btn btn-danger me-md-2" [routerLink]="['proveedorDeshabilitado']" style="box-sizing: border-box;" *ngIf="permiso.ver == 1"><i class="bi bi-search"></i><br>Deshabilitados</button>
        </div>
    </div>
</div>
<hr>
<br>
<router-outlet></router-outlet>

