<p-toast></p-toast>
<div class="container-xxl">
    <!-- INFO TRASPASO 1 -->
    <div class="">
        <h4 class="text-center">Alta traspaso</h4>
        <div class="row">
            <div [ngClass]="classSelect">
                <label class="form-label" for="">Envia</label>
                <select class="form-select" name="sucEnv" id="sucEnv" [(ngModel)]="traspaso.sucursalE" (change)="changeTipoTraspaso()"  required>
                    <option value="0" selected>Selecciona una sucursal</option>
                    <option *ngFor="let sucEnv of sucursales" [value]="sucEnv.idSuc" >{{sucEnv.nombre}}</option>
                </select>
            </div>
            <div class="col-1 text-center align-self-center">
                <i class="pi pi-arrow-right" style="font-size: 2rem"></i>
            </div>
            <div [ngClass]="classSelect">
                <label class="form-label" for="">Recibe</label>
                <select class="form-select" name="sucRec" id="sucRec" [(ngModel)]="traspaso.sucursalR" (change)="changeTipoTraspaso()" required>
                    <option value="0" selected>Selecciona una sucursal</option>
                    <option *ngFor="let sucRec of sucursales" [value]="sucRec.idSuc" >{{sucRec.nombre}}</option>
                </select>
            </div>
            <div [ngClass]="classInput">
                <label class="form-label" for="">Tipo</label>
                <input class="form-control" type="text" value="{{tipoTraspaso}}" name="" id="" readonly>
            </div>
        </div>
    </div>
    <hr>
    <!-- PRODUCTOS -->
    <div>

    </div>
    <!-- INFO TRASPASO 2 -->
    <div>
        
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" acceptLabel="Si" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
