<div class="container">
    <form class="form-group">
        <div class="row align-items-start">
            <p><ngb-progressbar type="dark" [value]="10" [striped]="true" [animated]="true">PROGRESO</ngb-progressbar></p>
            <h4 class="text-center">DATOS DEL PROVEEDOR</h4>
            <div class="col-4">
                <label for="folioProveedor"> Folio del proveedor</label>
                <input type="text" class="form-control" id="folioProveedor" name="folioProveedor">
            </div>
        </div>
    </form>
</div>


