<!-- INICIO MenuBar primeng -->
<div >

  <p-menubar [model]="items" *ngIf="token; else elseBlock" >
    <ng-template pTemplate="start">
      <img src="assets/images/logow.png" height="40" class="p-mr-2" [routerLink]="['/']">
    </ng-template>
    <ng-template pTemplate="end">
      
      <button type="button" pButton pRipple (click)="menu.toggle($event)" [style]="{background: 'transparent', border: 'none'}">
        <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="small"  shape="circle" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}"></p-avatar>
      </button>
      <p-menu #menu [popup]="true" [model]="itemsAvatar"></p-menu>
    </ng-template>
  </p-menubar>
  <!--  -->
  <ng-template #elseBlock>
    <p-menubar [model]="itemLogin" >
      <ng-template pTemplate="start">
        <img src="assets/images/logow.png" height="40" class="p-mr-2" [routerLink]="['/']">
      </ng-template>
    </p-menubar>
  </ng-template>

</div>

<!-- FIN MenuBar primeng -->

<!-- CONTENIDO -->

<p-toast></p-toast>

  <router-outlet></router-outlet>

  <footer class="mt-5">
    <p class="text-center" style="font-weight: bold;">&copy; San Otilio 2021</p>
  </footer>





