

  <!-- INICIO DEL NAVBAR -->


<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8FB1E3;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logow.png" alt="" width="150" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="token">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            COMPRAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['./proveedor-modulo/proveedorBuscar']">PROVEEDORES</a></li>
            <li><a class="dropdown-item" href="#">REQUISICION</a></li>
            <li><a class="dropdown-item" [routerLink]="['./ordencompra-modulo/ordencompra-buscar']">ORDEN DE COMPRA</a></li>
            <li><a class="dropdown-item" [routerLink]="['./compra-modulo/compra-buscar']">COMPRAS</a></li>
            <li><a class="dropdown-item" href="#">DEVOLUCIONES</a></li>
            <li><a class="dropdown-item" href="#">PEDIDO CLIENTE</a></li>
            <li><a class="dropdown-item" href="#">CUENTAS POR PAGAR</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">REPORTES</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            VENTAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['./ventas-modulo/ventas-realizadas-buscar']">VENTAS</a></li>
            <li><a class="dropdown-item" [routerLink]="['./punto-de-venta']">PUNTO DE VENTA</a></li>
            <li><a class="dropdown-item" [routerLink]="['./cotizacion-modulo/cotizacion-buscar']">COTIZACIONES</a></li>
            <li><a class="dropdown-item" [routerLink]="['./cliente-modulo/cliente-buscar']">CLIENTES</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">REPORTES</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">ENTREGAS</a>
          <ul class=" dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['./entregas-modulo/entregas-pendientes']">ENTREGA DE MATERIAL</a></li>
            <li><a class="dropdown-item" >OPERADORES Y AUXILIARES</a></li>
            <li><a class="dropdown-item" >UNIDADES</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >REPORTES</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CAJAS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['./caja-modulo/notas-por-cobrar']">CAJA</a></li>
            <li><a class="dropdown-item" [routerLink]="['./corte-de-caja']">CORTE DE CAJA</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">REPORTES</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ADMINISTRACION
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">A</a></li>
            <li><a class="dropdown-item" href="#">B</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">REPORTES</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INVENTARIO
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['./producto-modulo/producto-buscar']">PRODUCTOS</a></li>
            <li><a class="dropdown-item" href="#">TRASPASOS</a></li>
            <li><a class="dropdown-item" [routerLink]="['./clasificacion-modulo']">CLASIFICACIONES</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">REPORTES</a></li>
            <li><a class="dropdown-item" href="#">CHECADOR</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="!token">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.nombre">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{identity.nombre + ' ' + identity.apellido+ ' ' + identity.amaterno}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">MI PERFIL</a></li>
            <li><a class="dropdown-item" [routerLink]="['ajustes']">AJUSTES</a></li>
            <li><a class="dropdown-item" [routerLink]="['/logout/1']">CERRAR SESION</a></li>
          </ul>
        </li>
      </ul>
     
    </div>
  </div>
</nav> -->
<!-- FIN DEL NAVBAR -->

<!-- INICIO MenuBar primeng -->
<div >

  <p-menubar [model]="items" *ngIf="token; else elseBlock" >
    <ng-template pTemplate="start">
      <img src="assets/images/logow.png" height="40" class="p-mr-2" [routerLink]="['/']">
    </ng-template>
    <ng-template pTemplate="end">
      
      <button type="button" pButton pRipple (click)="menu.toggle($event)" [style]="{background: 'transparent', border: 'none'}">
        <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="small"  shape="circle" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}"></p-avatar>
      </button>
      <p-menu #menu [popup]="true" [model]="itemsAvatar"></p-menu>
    </ng-template>
  </p-menubar>
  <!--  -->
  <ng-template #elseBlock>
    <p-menubar [model]="itemLogin" >
      <ng-template pTemplate="start">
        <img src="assets/images/logow.png" height="40" class="p-mr-2" [routerLink]="['/']">
      </ng-template>
    </p-menubar>
  </ng-template>

</div>

<!-- FIN MenuBar primeng -->

<!-- CONTENIDO -->
<app-toast-container></app-toast-container>

  <router-outlet></router-outlet>

  <footer class="mt-5">
    <p class="text-center" style="font-weight: bold;">&copy; San Otilio 2021</p>
  </footer>





