<div class="container">
    <h3 class="text-center">Buscar Productos</h3>
</div>
    <!--CUADRO DE BUSQUEDA-->
    <div class="input-group mb-2">
        <div class="col-2">
            <select class="form-select" name="tipoBusqueda" [(ngModel)]="tipoBusqueda" (ngModelChange)="selectBusqueda()" >
                <option value="uno">Clave externa</option>
                <option value="dos">Codigo de barras</option>
                <option value="tres">Descripcion</option>
            </select>
        </div>
        <div class="col">
            <input type="search" class="form-control" name="search" placeholder="Buscar ..." [(ngModel)]="search" (ngModelChange)="selectBusqueda()">
        </div>
    </div>
    <!--FIN CUADRO DE BUSQUEDA-->
    <br>
    <!-- SPINNER  -->
    <div class="text-center text-primary" *ngIf="isLoading">
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
    <!-- FIN SPINNER  -->
    <!-- CONTENEDOR TABLE -->
    <div class="container-fluid" *ngIf="!isLoading">
        
        <!-- TABLA -->
        <table class="table table-sm table-dark table-hover" >
            <thead>
                <tr>
                    <th scope="col">CLAVE EXTERNA</th>
                    <th scope="col">CODIGO BARRAS</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">MARCA</th>
                    <th scope="col">DEPARTAMENTO</th> 
                    <th scope="col">CATEGORIA</th> 
                    <th scope="col">ACCION</th>
                </tr>
            </thead>
            <tbody *ngFor="let pr of productos | paginate: { itemsPerPage:itemsPerPage, currentPage: pageActual, totalItems:totalPages }">
                <tr (click)="mostrarPrecios(pr.idProducto)" >
                    <th scope="row" >{{pr.claveEx}}</th>
                    <th scope="row">{{pr.cbarras}}</th>
                    <th scope="row">{{pr.descripcion}}</th>
                    <th scope="row">{{pr.nombreMarca}}</th>
                    <th scope="row">{{pr.nombreDep}}</th> 
                    <th scope="row">{{pr.nombreCat}}</th>
                    <th scope="row"> 
                        <i class="pi pi-eye p-1" pTooltip="Ver" tooltipPosition="top" 
                            [routerLink]="['../producto-ver',pr.idProducto]">
                        </i>
                        <i class="pi pi-file-edit p-1" pTooltip="Editar" tooltipPosition="top"
                            [routerLink]="['../producto-editar',pr.idProducto]"></i>
                    </th>
                </tr>
            </tbody>
        </table>
        <!-- FIN TABLA -->
        <!-- CONTROLES DE PAGINACION -->
        <pagination-controls 
            (pageChange)="getPage(pageActual = $event)"
            previousLabel="Anterior"
            nextLabel="Siguiente" >
        </pagination-controls>
        <!-- FIN CONTROLES DE PAGINACION -->
    </div>

    <!-- tabla precios por medida -->
    <div class="container">
        <div class=" row justify-content-center">
            <div class="col-2">
                <img src="{{url + 'productos/getImageProduc/' + this.imagenPM}}" width="150px">
            </div>
            <!-- TABLA DE PRECIOS -->
            <div class="col-5 text-center">
                <table class="table table-sm table-secondary">
                    <thead>
                        <tr>
                            <th colspan="6"><h5 class="fw-bold">{{claveExt}}</h5></th>
                        </tr>
                        <tr>
                            <th scope="col">MEDIDA</th>
                            <th scope="col">PRECIO 1</th>
                            <th scope="col">PRECIO 2</th>
                            <th scope="col">PRECIO 3</th>
                            <th scope="col">PRECIO 4</th>
                            <th scope="col">PRECIO 5</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pm of productosMedida" >
                        <tr>
                            <th>{{pm.nombreMedida}}</th>
                            <th>{{pm.precio1 | currency}}</th>
                            <th>{{pm.precio2 | currency}}</th>
                            <th>{{pm.precio3 | currency}}</th>
                            <th>{{pm.precio4 | currency}}</th>
                            <th>{{pm.precio5 | currency}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- TABLA EXISTENCIA -->
            <div class="col-auto text-center">
                <table class="table table-sm table-secondary">
                    <thead>
                        <tr>
                            <th colspan="2"><h5 class="fw-bold">{{claveExt}}</h5></th>
                        </tr>
                        <tr>
                            <th>EXISTENCIA</th>
                            <th>MEDIDA</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let e of existenciasPorMed">
                        <tr>
                            <th scope="col">{{e.exisCal}}</th>
                            <th scope="col">{{e.nombreMedida}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
        
    <!-- FIN CONTENEDOR TABLE -->