<p-toast></p-toast>
<app-loading-spinner [isLoading]="isLoadingGeneral"></app-loading-spinner>
<div class="container-fluid">
    <div class="me-2">
        <p-dropdown 
            [options]="optionsSelect"
            [(ngModel)]="selectedOpt"
            optionLabel="name"
            [showClear]="true"
            placeholder="Selecciona una opcion"
            [style]="{ width: '15%' }"
            (ngModelChange)="onSearch()"
        ></p-dropdown>
        <p-dropdown 
            [options]="optionsSelectStatus"
            [(ngModel)]="selectedOptStatus"
            optionLabel="name"
            [showClear]="true"
            placeholder="Selecciona una opcion"
            [style]="{ width: '15%' }"
            (ngModelChange)="onSearch()"
        ></p-dropdown>
        <input type="text" pInputText [(ngModel)]="valSearch" [style]="{ width: '70%' }" (ngModelChange)="onSearch()">
    </div>
    <p-table
        [value]="productos"
        styleClass="p-datatable-sm mt-3"
        [scrollable]="false" 
        scrollHeight="43vh" 
        [resizableColumns]="true"
        selectionMode="single"
        [(selection)]="selectedProduct"
        dataKey="idProducto"
        (onRowSelect)="onRowSelect($event)"
        [style]="{'font-size':'small', 'color':'black'}"
        [(contextMenuSelection)]="selectedProduct" 
        [contextMenu]="contextMenu">
        <ng-template pTemplate="header">
            <tr>
                <th>Clave externa</th>
                <th>Codigo de barras</th>
                <th>Descripcion</th>
                <th>Marca</th>
                <th>Departamento</th>
                <!-- <th>Accion</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr [pSelectableRow]="producto" [pContextMenuRow]="selectedProduct"  (contextmenu)="setIdProductoMenu(producto.idProducto)">
                <td class="col-xsmall">{{ producto.claveEx }}</td>
                <td class="col-xsmall">{{ producto.cbarras }}</td>
                <td class="col-large">{{ producto.descripcion }}</td>
                <td class="col-xsmall">{{ producto.nombreMarca }}</td>
                <td class="col-xsmall">{{ producto.nombreDep }}</td>
                <!-- <td scope="col-xsmall text-center" [style]="{'padding':'auto','display':'flex','align-items':'center','justify-content':'center'}"> 
                    <i class="pi pi-cog p-button-icon-mov" pRipple (click)="menu.toggle($event)"></i>
                </td> -->
            </tr>
        </ng-template>
    </p-table>
    <!-- <p-menu #menu id="config_menu" [model]="menuItems" [popup]="true"></p-menu> -->
    <p-contextMenu #contextMenu [model]="menuItems"></p-contextMenu>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [rows]="per_page" 
        [totalRecords]="totalPages"
        >
    </p-paginator>
    <div class="row">
        <div *ngFor="let tabMed of existenciasPorMed" class="col-2">
            <p-table
                [value]="tabMed.precios"
                selectionMode="single"
                [(selection)]="selectedMedida"
                styleClass="p-datatable-sm"
                [style]="{'font-size':'small', 'color':'black'}"
                >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="col-small-med">{{tabMed.exisCal | number:'1.2-2'}}</th>
                        <th class="col-small-med">{{tabMed.nombreMedida}}</th>
                    </tr>
                    <tr>
                        <th class="col-small-med">Porcentaje</th>
                        <th class="col-small-med">Precio</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-precios>
                    <tr [pSelectableRow]="precios" >
                        <td class="col-small">{{ precios.porcentaje | number:'1.2-2'}}</td>
                        <td class="col-small">{{ precios.precio | currency:'MXN'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
        
    <!-- FIN CONTENEDOR TABLE -->
<!-- Modal Actualizacion -->
<p-dialog
    header="Header"
    [(visible)]="mdl_update"
    [modal]="true"
    [style]="{width:'35vw'}"
    [draggable]="true"
    [resizable]="true"
    position="top"
    [dismissableMask]="true">
    <ng-template pTemplate="header">
        <h5 class="modal-title" id="modal-title-update-product">¿Como desea actualizar el producto?</h5>
    </ng-template>
    <div>
        <div class="row justify-content-between">
            <div class="col">
                <p-radioButton name="valRadioButton" value="manual" [(ngModel)]="valRadioButton" inputId="valRadioButton1"></p-radioButton>
                <label for="valRadioButton1" class="ms-2">Actualizacion manual</label>
            </div>
            <div class="col">
                <p-radioButton name="valRadioButton" value="nube" [(ngModel)]="valRadioButton" inputId="valRadioButton2"></p-radioButton>
                <label for="valRadioButton2" class="ms-2">Actualizar desde catalogo</label>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-between">
            <button class="p-button-danger ms-2" 
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    label="Cancelar"
                    (click)="mdl_update = false">
            </button>
            <button class="p-button-primary me-2"
                    pButton 
                    pRipple
                    type="button"
                    icon="pi pi-check"
                    label="Ok"
                    (click)="selectedOptEdit()">
            </button>
        </div>
    </ng-template>
</p-dialog>
<!-- Modal view Producto NUBE -->
<p-dialog
    header="Header"
    [(visible)]="mdl_viewProduct"
    [modal]="true"
    [style]="{width:'50vw'}"
    [draggable]="true"
    [resizable]="true"
    position="top"
    [dismissableMask]="true">
    <ng-template pTemplate="header">
        <h5 class="modal-title" id="modal-title-view-product">Detalles producto: {{viewProducto?.claveEx}}</h5>
    </ng-template>
    <div class="row">
        <div class="col-4">
            <label class="form-label" for="nombreMarca">Marca</label>
            <input class="form-control" id="nombreMarca" type="text" [value]="viewProducto?.nombreMarca" readonly>
        </div>
        <div class="col-4">
            <label class="form-label" for="nombreDep">Departamento</label>
            <input class="form-control" id="nombreDep" type="text" [value]="viewProducto?.nombreDep" readonly>
        </div>
        <div class="col-4">
            <label class="form-label" for="nombreDep">Precio compra</label>
            <input class="form-control" id="nombreDep" type="text" [value]="" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label" for="descripcion">Descripcion</label>
            <input class="form-control" id="descripcion" type="text" [value]="viewProducto?.descripcion" readonly>
        </div>
    </div>
    <hr>
        <label class="form-label" for="tblProdNUBE">Precios</label>
        <p-table
            id="tblProdNUBE"
            [value]="viewProductoMedidas!"
            styleClass="p-datatable-sm p-datatable-striped text-center">
            <ng-template pTemplate="header">
                <tr>
                    <th>MED.</th>
                    <th *ngFor="let tblHead of tblHeadersNUBE">
                        {{tblHead}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prdMedida>
                <tr class="text-center">
                    <td>{{prdMedida.nombreMedida}}</td>
                    <td [ngClass]="prdMedida.precio1 ? '':'d-none'" >{{ prdMedida.precio1 | currency:'MXN'}}</td>
                    <td [ngClass]="prdMedida.precio2 ? '':'d-none'" >{{ prdMedida.precio2 | currency:'MXN'}}</td>
                    <td [ngClass]="prdMedida.precio3 ? '':'d-none'" >{{ prdMedida.precio3 | currency:'MXN'}}</td>
                    <td [ngClass]="prdMedida.precio4 ? '':'d-none'" >{{ prdMedida.precio4 | currency:'MXN'}}</td>
                    <td [ngClass]="prdMedida.precio5 ? '':'d-none'" >{{ prdMedida.precio5 | currency:'MXN'}}</td>
                </tr>
            </ng-template>
        </p-table>
    
    <ng-template pTemplate="footer">
        <div class="row justify-content-between">
            <button class="p-button-danger ms-2" 
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    label="Cancelar"
                    (click)="mdl_viewProduct = false">
            </button>
            <button class="p-button-primary me-2"
                    pButton 
                    pRipple
                    type="button"
                    icon="pi pi-check"
                    label="Actualizar"
                    (click)="confirmUpdateByNUBE()">
            </button>
        </div>
    </ng-template>
</p-dialog>
<!-- COnfirm update producto nube -->
<p-confirmDialog
    [style]="{width:'35vw'}"
    accepLabel="Si"
    rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<!-- modal historial producto -->
<p-dialog
    header="Header"
    [(visible)]="mdl_historialProducto"
    [modal]="true"
    [style]="{width:'70vw', 'min-width': '35vw'}"
    [draggable]="true"
    [resizable]="true"
    position="top"
    [dismissableMask]="true">
    <ng-template pTemplate="header">
        <h5 class="modal-title" id="modal-title-update-product">Historial</h5>
    </ng-template>
    <div *ngFor="let producto of arrHistorialProducto">
        <div class="row">
            <div class="col">
                <label class="form-label">Empleado: <strong>{{producto.nombreEmpleado}}</strong>  Fecha: <strong>{{ producto.created_at | date:'medium' }}</strong></label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="">Clave externa: <strong>{{producto.claveEx}}</strong></label>
            </div>
            <div class="col-2">
                <label for="">Codigo de barras: <strong>{{producto.cbarras}}</strong></label>
            </div>
            <div class="col-2">
                <label for="">Marca: <strong>{{producto.nombreMarca}}</strong></label>
            </div>
            <div class="col-2">
                <label for="">Departamento: <strong>{{producto.nombreMarca}}</strong></label>
            </div>
            <div class="col-1">
                <label for="">StockMin: <strong>{{producto.stockMin}}</strong></label>
            </div>
            <div class="col-1">
                <label for="">StockMax: <strong>{{producto.stockMax}}</strong></label>
            </div>
            <div class="col-2">
                <label for="">Tiempo de entrega: <strong>{{producto.tEntrega}} días</strong></label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Descripcion: <strong>{{producto.descripcion}}</strong></label>
            </div>
        </div>
        <hr>
    </div>
</p-dialog>
<!-- modal historial producto precio -->
<p-dialog
    header="Header"
    [(visible)]="mdl_historialProductoPrecio"
    [modal]="true"
    [style]="{width:'70vw', 'min-width': '35vw'}"
    [draggable]="true"
    [resizable]="true"
    position="top"
    [dismissableMask]="true">
    <ng-template pTemplate="header">
        <h5 class="modal-title" id="modal-title-update-product">Historial de precios</h5>
    </ng-template>
    <div *ngFor="let fecha of fechasHistorial">
        <label for="">Realizo: <strong> {{arrHistorialPrecio[fecha][0].nombreEmpleado}}</strong> Fecha: <strong>{{arrHistorialPrecio[fecha][0].created_at | date:'medium'}}</strong></label>
        <table class="table table-sm table-dark">
            <thead >
                <tr>
                    <th>Medida</th>
                    <th>P1</th>
                    <th>P2</th>
                    <th>P3</th>
                    <th>P4</th>
                    <th>P5</th>
                </tr>
            </thead>
            <tbody *ngFor="let precio of arrHistorialPrecio[fecha]">
                <tr>
                    <td>{{precio.nombreMedida}}</td>
                    <td>{{ precio.precio1 ? (precio.precio1 | currency:'MXN') : 'N/A'   }}</td>
                    <td>{{ precio.precio2 ? (precio.precio2 | currency:'MXN') : 'N/A'   }}</td>
                    <td>{{ precio.precio3 ? (precio.precio3 | currency:'MXN') : 'N/A'   }}</td>
                    <td>{{ precio.precio4 ? (precio.precio4 | currency:'MXN') : 'N/A'   }}</td>
                    <td>{{ precio.precio5 ? (precio.precio5 | currency:'MXN') : 'N/A'   }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
      </div>
      
</p-dialog>