
<!-- <div id="carouselExampleFade" class="carousel slide carousel-fad" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/images-general/g11.jpg" class="d-block mw-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="assets/images/images-general/g2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/images-general/g3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/images-general/g4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/images-general/g5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/images-general/g6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/images-general/g7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/images-general/g8.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div> -->