<div class="container">
    <div class="row">
        <div class="col">
        <h4 class="text-center">DATOS PERSONALES</h4>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">¿Es una empresa?</label>
                <input class="form-check-input" type="checkbox" role="switch"  id="flexSwitchCheckDefault" name="isCompany" [(ngModel)]="isCompany">
              </div>
        </div>
    </div>
    <br>
    
    <form class="form-group" #FormCliente="ngForm" (ngSubmit)="actualizarCliente()">
        <div class="row align-items-start">
            <div *ngIf="isCompany == false; else elseBlock" class="row">
                <div class="col-4">
                    <label class="form-label" for="">Nombre(s)</label>
                    <input class="form-control" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="clienteEditado.nombre" required>
                    <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                      CAMPO REQUERIDO
                    </div>
                </div>
                <div class="col-3">
                    <label class="form-label" for="">Apellido paterno</label>
                    <input class="form-control" type="text" name="aPaterno" #aPaterno="ngModel" [(ngModel)]="clienteEditado.aPaterno" >
                </div>
                <div class="col-3">
                    <label class="form-label" for="">Apellido materno</label>
                    <input class="form-control" type="text" name="aMaterno" #aMaterno="ngModel" [(ngModel)]="clienteEditado.aMaterno">
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="col-12">
                    <label class="form-label" for="">Nombre de empresa</label>
                    <input class="form-control" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="clienteEditado.nombre" required>
                    <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                      CAMPO REQUERIDO
                    </div>
                </div>
            </ng-template>
            
            <div class="col-3">
                <label class="form-label" for="">Correo</label>
                <input class="form-control" type="email" name="correo" #correo="ngModel" [(ngModel)]="clienteEditado.correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div [hidden]="correo.valid || correo.pristine" class="alert alert-danger">
                  CAMPO REQUERIDO EN FORMATO : correo@domino.com
                </div>
            </div>
            <div class="col-3">
                <label class="form-label" for="">Tipo cliente</label>
                <select class="form-select" name="idTipo" #idTipo="ngModel" [(ngModel)]="clienteEditado.idTipo">
                    <option selected disabled>Abrir para seleccionar</option>
                    <option *ngFor="let tp of tipocliente" value="{{tp.idTipo}}">{{tp.nombre}}</option>
                </select>
            </div>
            <div class="col-2">
                <label class="form-label" for="">.</label>
                <button class="btn btn-success form-control" type="button" (click)="open(content)"> Agregar dirección</button>
            </div>
        </div>
        <hr>
        <div class="row align-items-start">
            <div class="col-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="isRFC" [(ngModel)]="isRFC" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">¿Tiene RFC?</label>
              </div>
              <div *ngIf="isRFC == true; else RFCgenerico">
                <input class="form-control" maxlength="13" oninput="this.value = this.value.toUpperCase()" type="text" name="rfc" #rfc="ngModel" [(ngModel)]="clienteEditado.rfc">
                <div [hidden]="rfc.valid || rfc.pristine" class="alert alert-danger">
                  CAMPO REQUERIDO
                </div>
              </div>
                <ng-template #RFCgenerico>
                  <div>
                    <input class="form-control" value="XAXX010101000" readonly>
                  </div>
                </ng-template>
            </div>
            <div class="col-3">
                    <label class="form-label" for="flexCheckDefault">¿Tiene credito?</label>
                    <br>
                    <input class="form-check-input" type="checkbox"   name="test" [(ngModel)]="isCredito" id="flexCheckDefault"  >
            </div>

            <div *ngIf="isCredito == true ;" class="col-3">
                <label class="form-label" for="">Cantidad de credito</label>
                <input class="form-control" type="number" name="credito" #credito="ngModel" [(ngModel)]="clienteEditado.credito">
            </div>
            
        </div>
        <hr>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">DIRECCION</th>
                    <th scope="col">REFERENCIA</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">ZONA</th>
                </tr>
            </thead>
            <tbody *ngFor="let dc of listaDirecciones">
                <tr (click)="editarDireccion(dc.colonia + dc.calle + dc.numExt,content)">
                    <th scope="row">{{dc.estado}}, {{dc.ciudad}}, {{dc.colonia}}, CALLE {{dc.calle}}, #{{dc.numExt}} interior {{dc.numInt}}</th>
                    <th scope="row">{{dc.referencia}}</th>
                    <th scope="row">{{dc.telefono}}</th>
                    <th scope="row">{{dc.nombreZona}}</th>
                </tr>
            </tbody>
        </table>
        <br>
        <div>
            <div class="col-12">
                <button  class="btn btn-primary" type="submit" [disabled]="FormCliente.invalid" >Guardar</button>
            </div>
        </div>

    </form>
</div>

<!-- Modal -->
<ng-template #content let-modal>
    <form >
    <div>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar direccion</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            
                <div  class="row align-items-start">
                  <div class="col-3">
                      <label class="form-label" for="">Pais</label>
                      <input class="form-control" type="text" value="Mexico" name="pais" #pais="ngModel" [(ngModel)]="dirEditada.pais" readonly>
                    </div>
                  <div class="col-3">
                    <label class="form-label" for="">Estado</label>
                    <input class="form-control" type="text" value="Puebla" name="estado" #estado="ngModel" [(ngModel)]="dirEditada.estado" readonly>
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Ciudad</label>
                    <input class="form-control" type="text" name="ciudad" #ciudad="ngModel" [(ngModel)]="dirEditada.ciudad" >
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Colonia</label>
                    <input class="form-control" type="text" name="colonia" #colonia="ngModel" [(ngModel)]="dirEditada.colonia">
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Calle</label>
                    <input class="form-control" type="text" name="calle" #calle="ngModel" [(ngModel)]="dirEditada.calle" >
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Numero exterior</label>
                    <input class="form-control" type="text" name="numExt" #numExt="ngModel" [(ngModel)]="dirEditada.numExt">
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Numero interior</label>
                    <input class="form-control" type="text" name="numInt" #numInt="ngModel" [(ngModel)]="dirEditada.numInt" >
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Entre calles</label>
                    <input class="form-control" type="text" name="entreCalles" #entreCalles="ngModel" [(ngModel)]="dirEditada.entreCalles" >
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Codigo postal</label>
                    <input class="form-control" type="text" name="cp" #cp="ngModel" [(ngModel)]="dirEditada.cp" >
                  </div>
                  <div class="col-3">
                    <label class="form-label" for="">Telefono</label>
                    <input class="form-control" type="text" name="telefono" #telefono="ngModel" [(ngModel)]="dirEditada.telefono" >
                  </div>
                  <div class="col">
                    <label class="form-label" for="">Referencia</label>
                    <textarea class="form-control" name="" id="" cols="30" rows="2" name="referencia" #referencia="ngModel" [(ngModel)]="dirEditada.referencia"></textarea>
                  </div>
                </div>
            
          </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" (click)="modal.dismiss('Cross click')" (click)="capturarDireccion()">Guardar</button>
    </div>  
    </form>
</ng-template>