<div >
    <h2 style="text-align: center;">{{page_title}}</h2>
</div>
<div class="">
    <div class="loading" *ngIf="!departamentos">
        Cargando..
    </div>
    <div class="container">
        <div class="row align-items-start" *ngIf="departamentos">
            <div >
                <h2 style="text-align: center;">Departamentos</h2>
                <br>
            </div>
            <div style="width: auto;" *ngFor="let pr of departamentos" >
                <div class="col">
                    <!-- <span class="badge rounded-pill bg-success" >{{pr.idDep}} {{pr.nombre}}</span> -->
                    <div class="card" style="width: auto; border-radius: 10px " >
                        <div class="card-body" style="padding: 0%;">
                            <div class="row align-items-start" style="width: auto; --padding-bottom: calc(var(--bs-gutter-x) * .5); --padding-top: calc(var(--bs-gutter-x) * .5); margin-right: 0;" >
                                <div class="col" style="width: 50px; text-align: right;" > <b>{{pr.idDep}}</b></div>
                                <div class="col-md-4 ms-auto" style="width: fit-content; text-align: left;"> <strong>{{pr.nombre}}</strong> <br> <a style="font-size: x-small; color: grey;"> 0 Categorías</a></div>
                            </div>          
                        </div>          
                    </div>
                </div>
                <br>
            </div>
            <hr>
            <div >
                <h2 style="text-align: center;">Categorías</h2>
            </div>


            
            <!-- <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="imagen"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let pr of departamentos | paginate:{itemsPerPage: 15, currentPage: pageActual} " (click)="onFocusEvent($event)">
                    <tr (click)="selected(pr.idDep)" >
                        <th scope="row"  >{{pr.idDep}}</th>
                        <th scope="row">{{pr.nombre}}</th>
                        <th scope="row">{{pr.imaegn}}</th>
                    </tr>
                </tbody>
            </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> -->
        </div>
    </div>
    
</div>
