<div >
    <h2 style="text-align: center;">{{page_title}}</h2>
</div>
<div class="">
    <div class="loading" *ngIf="!departamentos">
        Cargando..
    </div>
    <div class="container">
        <div class="row align-items-start" *ngIf="departamentos">
            <div >
                <h2 style="text-align: center;">Departamentos</h2>
                <br>
            </div>
            <div style="width: auto;" *ngFor="let pr of departamentos" >
                <div class="col" >
                    <!-- <span class="badge rounded-pill bg-success" >{{pr.idDep}} {{pr.nombre}}</span> -->
                    <div class="card" style="width: auto; border-radius: 10px " (click)="selected(pr.idDep,pr.nombre);" >
                        <div class="card-body" style="padding: 0%;">
                            <div class="row align-items-start" style="width: auto; --padding-bottom: calc(var(--bs-gutter-x) * .5); --padding-top: calc(var(--bs-gutter-x) * .5); margin-right: 0;" >
                                <div class="col" style="width: 50px; text-align: right;" > <b>{{pr.idDep}}</b></div>
                                <div class="col-md-4 ms-auto" style="width: fit-content; text-align: left;"> <strong>{{pr.nombre}}</strong> <br> 
                                    <!-- <div *ngFor="let l of long; let i = index">

                                        <div *ngIf="pr.idDep == l.idDep;  else elseBlock">
                                            <a style="font-size: x-small; color: grey;"> {{l.longitud}} Categorías</a>
                                        </div>
                                        <ng-template #elseBlock>
                                            <a style="font-size: x-small; color: grey;"> 0 Categorías</a>
                                        </ng-template>
                                    </div> -->
                                </div>
                            </div>          
                        </div>          
                    </div>
                </div>
                <br>
            </div>
            <hr>
            <div >
                <h2 style="text-align: center;">{{Tcate}}</h2>
                <br>
            </div>
            <div style="width: auto;" *ngFor="let pr of categoria" >
                <div class="col" >
                    <!-- <span class="badge rounded-pill bg-success" >{{pr.idDep}} {{pr.nombre}}</span> -->
                    <div class="card" style="width: auto; border-radius: 10px " (click)="selectedCat(pr.idCat , pr.nombre)" >
                        <div class="card-body" style="padding: 0%;">
                            <div class="row align-items-start" style="width: auto; --padding-bottom: calc(var(--bs-gutter-x) * .5); --padding-top: calc(var(--bs-gutter-x) * .5); margin-right: 0;" >
                                <div class="col" style="width: 50px; text-align: right;" > <b>{{pr.idCat}}</b></div>
                                <div class="col-md-4 ms-auto" style="width: fit-content; text-align: left;"> <strong>{{pr.nombre}}</strong> <br> <a style="font-size: x-small; color: grey;"> </a></div>
                            </div>          
                        </div>          
                    </div>
                </div>
                <br>
            </div>
            <hr>
            <div >
                <h2 style="text-align: center;">{{Tsubcate}}</h2>
                <br>
            </div>
            <div style="width: auto;" *ngFor="let pr of subCategoria" >
                <div class="col" >
                    <!-- <span class="badge rounded-pill bg-success" >{{pr.idDep}} {{pr.nombre}}</span> -->
                    <div class="card" style="width: auto; border-radius: 10px " >
                        <div class="card-body" style="padding: 0%;">
                            <div class="row align-items-start" style="width: auto; --padding-bottom: calc(var(--bs-gutter-x) * .5); --padding-top: calc(var(--bs-gutter-x) * .5); margin-right: 0;" >
                                <div class="col" style="width: 50px; text-align: right;" > <b>{{pr.idSubCat}}</b></div>
                                <div class="col-md-4 ms-auto" style="width: fit-content; text-align: left;"> <strong>{{pr.nombre}}</strong></div>
                            </div>          
                        </div>          
                    </div>
                </div>
                <br>
            </div>
            <hr>
        </div>    
</div>

