<!-- PRIMENG -->
<div class="container-fluid">
    <p-panel header="Agregar un proveedor">
        <form #agregarProveedor="ngForm" (ngSubmit)="onSubmit(agregarProveedor)">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Datos del proveedor ">
                    <div class="row justify-content-center p-fluid ">
                        <div class="col-5">
    
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="nombre" id="nombre" oninput=" this.value = this.value.toUpperCase()"
                                            #nombre="ngModel" [(ngModel)]="proveedor.nombre" required> 
                                    <label for="nombre">Nombre del Proveedor</label>
                                </span>
                                <div [hidden]="nombre.valid || nombre.pristine" styleClass="p-mr-2">
                                    <p-message severity="error" text="text error" ></p-message>
                                </div>
                            </div>
    
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="rfc" id="rfc" oninput=" this.value = this.value.toUpperCase()"
                                            #rfc="ngModel" [(ngModel)]="proveedor.rfc" required pattern="[A-Z0-9-]{12,13}"> 
                                    <label for="rfc">RFC</label>
                                </span>
                                <div [hidden]="rfc.valid || rfc.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
    
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="phone" maxlength="10" name="telefono" id="telefono"
                                            #telefono="ngModel" [(ngModel)]="proveedor.telefono" required pattern="[0-9]{10}"> 
                                    <label for="inputtext">Teléfono</label>
                                </span>
                                <div [hidden]="telefono.valid || telefono.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido | Ingrese solo 10 numeros</small>
                                </div>
                            </div>
    
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <p-inputNumber #creditoDias="ngModel"  [(ngModel)]="proveedor.creditoDias" [showButtons]="true" [min]="0"
                                                    id="creditoDias" name="creditoDias" [ariaRequired]="true">
                                    </p-inputNumber>
                                    <label for="creditoDias">Crédito (Dias)</label>
                                </span>
                                <div [hidden]="creditoDias.valid || creditoDias.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
    
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <p-inputNumber #creditoCantidad="ngModel"  [(ngModel)]="proveedor.creditoCantidad" [min]="0" 
                                                    mode="currency" currency="MXN" id="creditoCantidad" name="creditoCantidad" [ariaRequired]="true">
                                    </p-inputNumber>
                                    <label for="creditoCantidad">Crédito (Cantidad)</label>
                                </span>
                                <div [hidden]="creditoCantidad.valid || creditoCantidad.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-5">
    
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="pais" id="pais" oninput=" this.value = this.value.toUpperCase()"
                                            #pais="ngModel" [(ngModel)]="proveedor.pais" required pattern="[A-Z0-9 .-]+"> 
                                    <label for="pais">Pais</label>
                                </span>
                                <div [hidden]="pais.valid || pais.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="estado" id="estado" oninput="this.value = this.value.toUpperCase()"
                                            #estado="ngModel" [(ngModel)]="proveedor.estado" required pattern="[A-Z0-9 .-]+"> 
                                    <label for="estado">Estado</label>
                                </span>
                                <div [hidden]="estado.valid || estado.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="ciudad" id="ciudad" oninput="this.value = this.value.toUpperCase()"
                                            #ciudad="ngModel" [(ngModel)]="proveedor.ciudad" required pattern="[A-Z0-9 .-]+"> 
                                    <label for="ciudad">Ciudad</label>
                                </span>
                                <div [hidden]="ciudad.valid || ciudad.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="cpostal" id="cpostal"
                                            #cpostal="ngModel" [(ngModel)]="proveedor.cpostal" required pattern="[0-9]{5}"> 
                                    <label for="cpostal">Codigo postal</label>
                                </span>
                                <div [hidden]="cpostal.valid || cpostal.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="colonia" id="colonia" oninput="this.value = this.value.toUpperCase()"
                                            #colonia="ngModel" [(ngModel)]="proveedor.colonia"> 
                                    <label for="colonia">Colonia</label>
                                </span>
                                <div [hidden]="colonia.valid || colonia.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="calle" id="calle" oninput="this.value = this.value.toUpperCase()"
                                            #calle="ngModel" [(ngModel)]="proveedor.calle"> 
                                    <label for="calle">Calle</label>
                                </span>
                                <div [hidden]="calle.valid || calle.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
                            <div class="p-field p-md-4">
                                <span class="p-float-label">
                                    <input  pInputText type="text" name="numero" id="numero"
                                            #numero="ngModel" [(ngModel)]="proveedor.numero" required pattern="[0-9]+"> 
                                    <label for="inputtext">Numero</label>
                                </span>
                                <div [hidden]="numero.valid || numero.pristine" class="ng-invalid ng-dirty">
                                    <small>Campo requerido</small>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Datos del contacto">
                    <div class="row justify-content-center p-fluid ">
                        
                        <div class="col-5">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checked" [(ngModel)]="checkContacto" id="flexCheckDefault3" (onChange)="checkedContacto($event)">
                                <label class="form-check-label" for="flexCheckDefault3">
                                  ¿No conozco los datos?
                                </label>
                              </div>

                            <div *ngIf="checkContacto == false; else ContactoGenerico">
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="nombreCon" id="nombreCon" oninput="this.value = this.value.toUpperCase()"
                                                #nombreCon="ngModel" [(ngModel)]="proveedor.nombreCon" required pattern="[A-Z0-9 .]+"> 
                                        <label for="nombreCon">Nombre</label>
                                    </span>
                                    <div [hidden]="nombreCon.valid || nombreCon.pristine" class="ng-invalid ng-dirty">
                                        <small>Campo requerido</small>
                                    </div>
                                </div>
        
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="email" name="emailCon" id="emailCon"
                                                #emailCon="ngModel" [(ngModel)]="proveedor.emailCon" required
                                                pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$"> 
                                        <label for="emailCon">Correo electrónico</label>
                                    </span>
                                    <div [hidden]="emailCon.valid || emailCon.pristine" class="ng-invalid ng-dirty">
                                        <small>Campo requerido</small>
                                    </div>
                                </div>
        
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="phone" name="telefonoCon" id="telefonoCon"
                                                #telefonoCon="ngModel" [(ngModel)]="proveedor.telefonoCon" required pattern="[0-9]{10}"> 
                                        <label for="telefonoCon">Telefono</label>
                                    </span>
                                    <div [hidden]="telefonoCon.valid || telefonoCon.pristine" class="ng-invalid ng-dirty">
                                        <small>Campo requerido</small>
                                    </div>
                                </div>
    
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="puestoCon" id="puestoCon" oninput="this.value = this.value.toUpperCase()"
                                                #puestoCon="ngModel" [(ngModel)]="proveedor.puestoCon" required pattern="[A-Z0-9 .-]+"> 
                                        <label for="puestoCon">Puesto</label>
                                    </span>
                                    <div [hidden]="puestoCon.valid || puestoCon.pristine" class="ng-invalid ng-dirty">
                                        <small>Campo requerido</small>
                                    </div>
                                </div>
                            </div>

                            <ng-template #ContactoGenerico>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="nombreCon" id="nombreCon" value="XXXXX" readonly> 
                                        <label for="nombreCon">Nombre</label>
                                    </span>
                                </div>
        
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="email" name="emailCon" id="emailCon" value="XXXXX" readonly> 
                                        <label for="emailCon">Correo electrónico</label>
                                    </span>
                                </div>
        
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="phone" name="telefonoCon" id="telefonoCon" value="XXXXX" readonly> 
                                        <label for="telefonoCon">Telefono</label>
                                    </span>
                                </div>
    
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="puestoCon" id="puestoCon" value="XXXXX" readonly> 
                                        <label for="puestoCon">Puesto</label>
                                    </span>
                                    
                                </div>
                            </ng-template>

                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Datos de la cuenta">
                    <div class="row justify-content-center p-fluid ">
                        <div class="col-5">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkedNcp" [(ngModel)]="checkNcp" id="flexCheckDefault4">
                                <label class="form-check-label" for="flexCheckDefault4">
                                  ¿No conozco los datos?
                                </label>
                            </div>

                            <div *ngIf="checkNcp == false; else NcpGenerico">
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="ncuenta" id="ncuenta"
                                                #ncuenta="ngModel" [(ngModel)]="proveedor.ncuenta" required> 
                                        <label for="ncuenta">Numero de cuenta</label>
                                    </span>
                                    <div [hidden]="ncuenta.valid || ncuenta.pristine" class="ng-invalid ng-dirty">
                                        <small>Campo requerido</small>
                                    </div>
                                </div>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <!-- <input type="text" id="inputtext" pInputText >  -->
                                        <p-dropdown [options]="banco" optionLabel="banco" [autoDisplayFirst]="false" optionValue="idBanco" name="idbanco"
                                                    #idbanco="ngModel" [(ngModel)]="proveedor.idBanco">
                                        </p-dropdown>
                                        <label for="idbanco">Banco</label>
                                    </span>
                                </div>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="titular" id="titular" oninput="this.value = this.value.toUpperCase()"
                                                #titular="ngModel" [(ngModel)]="proveedor.titular" required pattern="[A-Z0-9 ]+"> 
                                        <label for="titular">Titular</label>
                                    </span>
                                    <div [hidden]="titular.valid || titular.pristine" class="ng-invalid ng-dirty">
                                        <small>Campo requerido</small>
                                    </div>
                                </div>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="clabe" id="clabe" maxlength="19"
                                        #clabe="ngModel" [(ngModel)]="proveedor.clabe" required pattern="[0-9]{18,19}"> 
                                        <label for="clabe">CLABE</label>
                                    </span>
                                    <div [hidden]="clabe.valid || clabe.pristine" class="ng-invalid ng-dirty">
                                        <small>Campo requerido</small>
                                    </div>
                                </div>
                            </div>
                            <ng-template #NcpGenerico>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="ncuenta" id="ncuenta" value="00000000" readonly> 
                                        <label for="ncuenta">Numero de cuenta</label>
                                    </span>
                                </div>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <!-- <input type="text" id="inputtext" pInputText >  -->
                                        <p-dropdown [options]="banco" optionLabel="banco" [autoDisplayFirst]="false" optionValue="idBanco" name="idbanco"
                                                    #idbanco="ngModel" [(ngModel)]="proveedor.idBanco" [disabled]="true">
                                        </p-dropdown>
                                        <label for="idbanco">Banco</label>
                                    </span>
                                </div>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="titular" id="titular" value="xxxxx" readonly> 
                                        <label for="titular">Titular</label>
                                    </span>
                                    
                                </div>
                                <div class="p-field p-md-4">
                                    <span class="p-float-label">
                                        <input  pInputText type="text" name="clabe" id="clabe" value="000000000000000000" readonly>
                                        <label for="clabe">CLABE</label>
                                    </span>
                                </div>
                            </ng-template>
                        </div>
                    </div>  
                </p-accordionTab>
            </p-accordion>
            <br>
            <div class="row justify-content-evenly">
                <div class="col-md-2">
                    <button pButton pRipple type="button" class="p-button-rounded p-button-danger" label="Cancelar"></button>
                </div>
                <div class="col-md-2">
                    <button pButton pRipple type="submit" class="p-button-rounded p-button-success" [disabled]="agregarProveedor.invalid" label="Guardar"></button>
                </div>
                
            </div>
        </form>
        
    </p-panel>
   
</div>


