
<div class="container">
    <br>
    <div class="row justify-content-between">
        <div class="col-5">
            <h3>Modulo de clientes</h3>
        </div>
        <div class="col-4">
            
            <button type="button" value="Agregar" class="btn btn-success me-md-2" [routerLink]="['cliente-agregar']" style="box-sizing: border-box;"><i class="bi bi-plus-circle"></i><br> Agregar</button>
            
            <button type="button" value="Buscar" class="btn btn-primary" [routerLink]="['cliente-buscar']"  style="box-sizing: border-box;"><i class="bi bi-search"></i><br>Buscar</button>
        </div>
    </div>
</div>
<hr>
<br>
<router-outlet></router-outlet>