
<div class="container">
    <h1>Modulo de clientes</h1>
    <div class="row align-items-center">
        <div class="col-auto">
            <button type="button" value="Agregar" class="btn btn-primary" [routerLink]="['producto-agregar']" style="box-sizing: border-box;">Agregar</button>
        </div>
        <div class="col-auto">
            <button type="button" value="Buscar" class="btn btn-primary" [routerLink]="['producto-buscar']"  style="box-sizing: border-box;">Buscar</button>
        </div>
    </div>
</div>
<hr>
<br>
<router-outlet></router-outlet>