.col-xxsmall {
    flex-grow: 0.4 !important;
    width: 5% !important;
    font-weight:600;
    padding: 1px !important;
}
.col-xsmall {
    flex-grow: 0.6 !important;
    width: 10% !important;
    font-weight:600;
    padding: 1px !important;
}
.col-small {
    flex-grow: 0.8 !important;
    width: 15% !important;
    font-weight:600;
    padding: 1px !important;
}
.col-medium {
    width: 20% !important;
    font-weight:600;
    padding: 1px !important;
}
.col-medium-2 {
    flex-grow: 1.5 !important;
    width: 25% !important;
    font-weight:600;
    padding: 1px !important;
}
.col-medium-3 {
    flex-grow: 1.5 !important;
    width: 30% !important;
    font-weight:600;
    padding: 1px !important;
}