/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.spinner-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(92, 92, 92, 0.5); 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }