/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --dev-danger-color:#ff5252;
  --dev-success-color:#66bb6a;
  --dev-warn-color:#ffa726;
}

.spinner-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(92, 92, 92, 0.5); 
    z-index: 100001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-xxsmall {
  flex-grow: 0.4 !important;
  width: 5% !important;
  font-weight:600;
  padding: 1px !important;
}
.col-xsmall {
  flex-grow: 0.6 !important;
  width: 10% !important;
  font-weight:600;
  padding: 1px !important;
}
.col-small {
  flex-grow: 0.8 !important;
  width: 15% !important;
  font-weight:600;
  padding: 1px !important;
}
.col-medium {
  flex-grow: 1 !important;
  width: 20% !important;
  font-weight:600;
  padding: 1px !important;
}
.col-medium-2 {
  flex-grow: 1.2 !important;
  width: 25% !important;
  font-weight:600;
  padding: 1px !important;
}
.col-medium-3 {
  flex-grow: 1.5 !important;
  width: 30% !important;
  font-weight:600;
  padding: 1px !important;
}

.col-large {
  width: 60% !important;
  font-weight:600;
  padding: 1px !important;
}

.search-container {
  display: flex;
  flex-grow: 1; /* Allow the container to grow */
  flex-basis: 0; /* Allow the container to take up the remaining space */
  align-items: center; /* Align items vertically center */
}


.fixed-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

