<p-toast></p-toast>
<div class="container-xxl">
    <app-loading-spinner [isLoading]="isLoadingGeneral"></app-loading-spinner>
    <!-- DATOS CLIENTE -->
    <div>
        <h4 class="text-center">DATOS DEL CLIENTE</h4>
        <div class="row align-items-start" >
            <div class="col-4">
                <label class="form-label" for="">Buscar cliente</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"><i class="bi-search" style="font-size: 1.5rem; color: black; left: 0;" (click)="open(content,0)"></i></span>
                        <input class="form-control" type="text" name="nomreCliente" #nombreCliente="ngModel" [(ngModel)]="ventag.nombreCliente" readonly >
                    </div>
            </div>
            <div class="col-1">
                <br>
                <button class="btn btn-success" (click)="open(content2,1)" ngbTooltip="Agregar cliente"><i class="bi bi-plus-circle-dotted" style="font-size: 1.3rem; color: rgb(255, 249, 249); left: 0;"></i></button>
            </div>
            <div class="col-2" *ngFor="let c of cliente">
                <label class="form-label">RFC</label>
                <input class="form-control" type="text" value="{{c.rfc}}"  readonly>
            </div>
            <div class="col-2" *ngFor="let c of cliente">
                <label class="form-label">Tipo cliente</label>
                <input class="form-control" type="text" value="{{c.nombreTipoC}}"  readonly>
            </div>
            <!-- <div class="col-1" *ngFor="let c of cliente">
                <p>{{c.nombreStatus}}</p>
            </div> -->
            <div *ngIf="ventag.nombreCliente.length > 0" class="col-2">
                <label class="form-label" for="flexSwitchCheckDefault">¿Se envia?</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="seEnvia" [(ngModel)]="seEnvia" (change)="modalSeEnvia(buscarDireccion)" (click)="getDireccionCliente(ventag.idCliente)" >
                  </div>
            </div>
        </div>
        <!-- //<br> -->
        <div *ngIf="seEnvia == true" class="row">
            <div class="col">
                <label class="form-label">Direccion del cliente</label>
                <!-- <input type="text" class="form-control" value="{{ventag.dirCliente}}" readonly> -->
                <textarea class="form-control" value="{{ventag.cdireccion}}" readonly></textarea>
            </div>
        </div>
    </div>
    <hr>
    <!-- PRODUCTOS -->
    <div class="row align-items-start">
        <h4 class="text-center">AGREGAR PRODUCTO</h4>
        <div class="col-2">
            <label class="form-label" for="">Buscar producto</label>
                <div class="input-group">
                    <app-input-external-key-search
                        (idProductoObtenido)="handleIdProductoObtenido($event)"
                        [claveExterna]="productoVentag.claveEx">
                        <span class="input-group-addon" id="sizing-addon2" (click)="openMdlProductos()" ><i class="bi-search" style="font-size: 1.5rem; color: black; left: 0;"></i></span>
                    </app-input-external-key-search>
                    <input class="d-none" type="text" name="claveEx" #claveEx="ngModel" [(ngModel)]="productoVentag.claveEx">
                </div>
        </div>
        <div class="col-2">
            <label class="form-label">Medida</label>
            <select class="form-select" name="nombreMedida" id="nombreMedida" #nombreMedida="ngModel" [(ngModel)]="productoVentag.idProdMedida" ngModel (change)="muestraPrecios()" required>
                <option *ngFor="let pm of productos_medidas" value="{{pm.idProdMedida}}" >{{pm.nombreMedida}}</option>
            </select>
        </div>
        <div [ngClass]="{'col-1': PagoConTarjeta, 'col-2': !PagoConTarjeta}">
            <label class="form-label">Cantidad</label>
            <input class="form-control" type="number" min="0" name="cantidad" #cantidad="ngModel" [(ngModel)]="productoVentag.cantidad" (change)="calculaSubtotalPP()">
        </div>
        <div class="col-2">
            <label class="form-label">Precio</label>
                <input class="offset-md-1 form-check-input" type="checkbox" pTooltip="Modificar precio" tooltipPosition="top" [(ngModel)]="isModificaPrecio" (ngModelChange)="habilitaInputPrecio($event)">
            <div *ngIf="isModificaPrecio == false; else blockModificaPrecio">
                <select class="form-select" name="precio" id="precio" #precio="ngModel" [(ngModel)]="productoVentag.precio" (change)="calculaSubtotalPP()">
                    <option *ngFor="let precio of preciosArray" value="{{precio}}">{{precio}}</option>
                </select>
            </div>

            <ng-template #blockModificaPrecio>
                <input class="form-control" type="number" name="precio" id="precio" #precio="ngModel" [(ngModel)]="productoVentag.precio" (change)="calculaSubtotalPP()">
            </ng-template>

            <!-- <input class="form-control" type="number" min="{{productoVentag.precioMinimo}}" name="precio" #precio="ngModel" [(ngModel)]="productoVentag.precio" (change)="calculaSubtotalPP()" > -->
        </div>
        <div class="col-2" *ngIf="PagoConTarjeta">
            <label class="form-label" for="">Comision</label>
            <input class="form-control" type="number" name="comision" id="comision" #comision="ngModel" [(ngModel)]="productoVentag.comision" readonly>
        </div>
        <div [ngClass]="{'col-1': PagoConTarjeta, 'col-2': !PagoConTarjeta}">
            <label class="form-label">Descuento</label>
            <input class="form-control" type="number" min="0" name="descuento" #descuento="ngModel" [(ngModel)]="productoVentag.descuento" (change)="calculaSubtotalPP()">
        </div>
        <div class="col-2">
            <label class="form-label">Subtotal</label>
            <input class="form-control" type="number" value="{{productoVentag.subtotal }}" readonly >
        </div>
        <div class="col">
            <label class="" for="">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" #descripcion="ngModel" [(ngModel)]="productoVentag.descripcion" readonly>
        </div>
        <div class="col-2 d-flex justify-content-center">
            <!-- <label class="form-label">.</label> -->
            <br>
            
            <button class="p-button-rounded p-button-success mt-3 w-75"
                        pButton
                        pRipple
                        type="button"
                        severity="secondary"
                        icon="pi pi-check-circle"
                        [disabled]="isSearch"
                        (click)="agregarProductoLista()"
                        label="Agregar">

                </button>
        </div>
    </div>
    <hr>
    <!-- LISTA PRODUCTOS -->
    <div>
        <h4 class="text-center">LISTA DE PRODUCTOS</h4>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">CLAVE EXTERNA</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">MEDIDA</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">DESCUENTO</th>
                    <th scope="col">SUBTOTAL</th>
                </tr>
            </thead>
            <tbody *ngFor="let producto of lista_productoVentag | paginate:{id:'tablePV', itemsPerPage: 5, currentPage:pageActual3}">
                <tr (click)="editarProductoLista(producto.idProdMedida)" >
                    <th scope="row">{{producto.claveEx}}</th>
                    <th scope="row">{{producto.descripcion}}</th>
                    <th scope="row">{{producto.cantidad}}</th>
                    <th scope="row">{{producto.nombreMedida}}</th>
                    <th scope="row">{{producto.precio | currency:'MXN'}}</th>
                    <th scope="row">{{producto.descuento | currency:'MXN'}}</th>
                    <th scope="row">{{producto.subtotal | currency:'MXN'}}</th>
                </tr>
            </tbody>
        </table>
        <pagination-controls id="tablePV" (pageChange)="pageActual3 = $event"></pagination-controls>
    </div>
    <hr>
    <!-- FINAL VENTA -->
    <div class="row">
        <div class="col-10">
            <label class="form-label">Observaciones</label>
            <textarea class="form-control" rows="3" maxlength="250" 
                        name="observaciones" #observaciones="ngModel"
                        placeholder="Ingrese unicamente observaciones"
                        [(ngModel)]="ventag.observaciones" 
                        (keydown)="contadorCaracteres($event)">
            </textarea>
            <span> {{contador}}/250</span>
            <br>

            <div class="row">
                <div class="col-2">
                    <label for="">Subtotal</label>
                    <input class="form-control" type="text" value="{{ventag.subtotal | currency:'MXN'}}" readonly>
                </div>
                <div class="col-2">
                    <label for="">Descuento</label>
                    <input class="form-control" type="text" value="{{ventag.descuento | currency:'MXN'}}" readonly>
                </div>
                <div class="col-2">
                    <label for="">Total</label>
                    <input class="form-control" type="text" value="{{ventag.total | currency:'MXN'}}" readonly>
                </div>
                <div class="col-3">
                    <label class="form-label" for="">Tipo venta</label>
                    <select class="form-select" name="tipoventa" id="tipoventa" #tipoventa="ngModel" [(ngModel)]="ventag.idTipoVenta" ngModel required>
                        <option *ngFor="let tipoV of tipo_venta" value="{{tipoV.idTipoVenta}}">{{tipoV.nombre}}</option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="form-label" for="">¿Pago con tarjeta?</label>
                    <div class="col-md-5 offset-md-5">
                        <input class="form-check-input" type="checkbox" name="PagoConTarjeta" id="PagoConTarjeta" [(ngModel)]="PagoConTarjeta" (ngModelChange)="sumaPorcentajeComi($event)">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            
            <div class="col d-flex justify-content-center">
                
                <button class="p-button-rounded p-button-secondary mt-3 w-75"
                        pButton
                        pRipple
                        type="button"
                        severity="secondary"
                        icon="pi pi-file-pdf"
                        (click)="modoEdicionCotizacion ? updateCotizacion() : modalAlertaExistencia(mAlertaExistencia) "
                        label="Cotizacion">
                </button>
            </div>
            <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" acceptLabel="Si" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
            <br>
            <div class="col d-flex justify-content-center">
                <button class="p-button-rounded p-button-success w-75"
                        pButton
                        pRipple
                        type="button"
                        icon="bi bi-receipt-cutoff"
                        severity="success"
                        (click)="confirmVenta()"
                        label="Ticket">
                </button>
            </div>
            <br>
            <div class="col d-none">
                <button class="btn btn-info form-control" (click)="obtenerUltimaCotiza()"><i class="bi bi-truck"></i> Pedido</button>
            </div>
        </div>
    </div>

    
</div>



<!-- Modal buscar clientes-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Buscar cliente</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
            <div class="col">
                <input type="search" class="form-control" name="nombreCliente" placeholder="buscar por nombre" (keyup)="searchNombreClienteS($event)">
            </div>
            <div class="text-center text-primary" *ngIf="isLoadingClientes">
                <!-- <div class="spinner-border" role="status" >
                    <span class="visually-hidden">Loading...</span>
                  </div> -->
                  <br>
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="4"></p-progressSpinner>
            </div>
            <br>
            <div class="table-responsive" *ngIf="!isLoadingClientes">
                <table class="table table-sm table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">RFC</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">TIPO CLIENTE</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let c of clientes | paginate:{id:'pagCliente',itemsPerPage: itemsPerPage, currentPage: pageActual, totalItems:totalPagesClientes}">
                        <tr (click)="seleccionarCliente(c.idCliente)" (click)="modal.dismiss('Cross click')">
                            <th scope="row">{{ c.nombreCliente.length > 40 ? (c.nombreCliente | slice:0:25) + '...' : c.nombreCliente }}</th>
                            
                            <th scope="row">{{c.rfc}}</th>
                            <th scope="row">{{c.telefono}}</th>
                            <th scope="row">{{c.nombreTipoC}}</th>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls 
                        id="pagCliente" 
                        (pageChange)="getPageClientes(pageActual = $event)"
                        previousLabel="Anterior"
                        nextLabel="Siguiente" >
                </pagination-controls>
            </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div> -->
</ng-template>

<!-- Modal agregar cliente-->
<ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar cliente</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <app-cliente-agregar></app-cliente-agregar>
    <br>
</ng-template>

<!-- Modal para elegir direccion del cliente -->
<ng-template #buscarDireccion let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Seleccionar direccion</h4>
        <button class="btn btn-success col-auto offset-md-8" ngbTooltip="Agregar direccion" (click)="modalAgregarDireccion(nuevaDireccion)">
            <i class="bi bi-plus-circle-dotted" style="font-size: 1.3rem; color: rgb(255, 249, 249); left: 0;"></i>
        </button>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">DIRECCION</th>
                    <th scope="col">REFERENCIA</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">ZONA</th>
                </tr>
            </thead>
            <tbody *ngFor="let dc of listaDireccionesC">
                <tr (click)="seleccionarDireccion(dc.estado+' '+dc.ciudad+' '+dc.colonia+',CALLE '+dc.calle+' #'+dc.numExt+' INTERIOR '+dc.numInt+'    TELEFONO: '+dc.telefono+'   REFERENCIA: '+dc.referencia)" (click)="modal.dismiss('row click')">
                    <th scope="row">{{dc.estado}}, {{dc.ciudad}}, {{dc.colonia}}, CALLE {{dc.calle}}, #{{dc.numExt}} interior {{dc.numInt}}</th>
                    <th scope="row">{{dc.referencia}}</th>
                    <th scope="row">{{dc.telefono}}</th>
                    <th scope="row">{{dc.nombreZona}}</th>
                </tr>
            </tbody>
        </table>
      </div>
</ng-template>

<!-- Agregar nueva direccion  -->
<ng-template #nuevaDireccion let-modal>
    <form>
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Agregar direccion</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                
                    <div  class="row align-items-start">
                      <div class="col-3">
                          <label class="form-label" for="">Pais *</label>
                          <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                    value="Mexico" name="pais" #pais="ngModel" [(ngModel)]="nuevaDir.pais" maxlength="50" readonly>
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Estado *</label>
                        <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                value="Puebla" name="estado" #estado="ngModel" [(ngModel)]="nuevaDir.estado" maxlength="50" readonly>
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Ciudad *</label>
                        <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                name="ciudad" #ciudad="ngModel" [(ngModel)]="nuevaDir.ciudad" maxlength="50" required >
                        <div [hidden]="ciudad.valid || ciudad.pristine" class="alert alert-danger">
                            CAMPO REQUERIDO
                        </div>
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Colonia *</label>
                        <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                name="colonia" #colonia="ngModel" [(ngModel)]="nuevaDir.colonia" maxlength="50" required >
                        <div [hidden]="colonia.valid || colonia.pristine" class="alert alert-danger">
                            CAMPO REQUERIDO
                        </div>
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Calle *</label>
                        <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                name="calle" #calle="ngModel" [(ngModel)]="nuevaDir.calle" maxlength="50" required >
                        <div [hidden]="calle.valid || calle.pristine" class="alert alert-danger">
                            CAMPO REQUERIDO
                        </div>
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Numero exterior *</label>
                        <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                name="numExt" #numExt="ngModel" [(ngModel)]="nuevaDir.numExt" maxlength="10" required >
                        <div [hidden]="numExt.valid || numExt.pristine" class="alert alert-danger">
                            CAMPO REQUERIDO
                        </div> 
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Numero interior</label>
                        <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                name="numInt" #numInt="ngModel" [(ngModel)]="nuevaDir.numInt" maxlength="10" >
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Entre calles</label>
                        <input class="form-control" oninput="this.value = this.value.toUpperCase()" type="text"
                                name="entreCalles" #entreCalles="ngModel" [(ngModel)]="nuevaDir.entreCalles" maxlength="50" >
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Codigo postal *</label>
                        <input class="form-control" type="number" pattern="^[0-9]{1,5}" min="0"
                                name="cp" #cp="ngModel" [(ngModel)]="nuevaDir.cp" required >
                        <div [hidden]="cp.valid || cp.pristine" class="alert alert-danger">
                            SOLO INGRESAR DE 1 HASTA 5 NUMEROS
                        </div> 
                      </div>
                      <div class="col-3">
                        <label class="form-label" for="">Telefono *</label>
                        <input class="form-control" type="number" maxlength="10" min="0" pattern="^[0-9]{1,10}"
                                name="telefono" #telefono="ngModel" [(ngModel)]="nuevaDir.telefono" required >
                        <div [hidden]="telefono.valid || telefono.pristine" class="alert alert-danger">
                            CAMPO REQUERIDO
                            SOLO INGRESAR HASTA 10 NUMEROS
                        </div>
                      </div>
                      <div class="col">
                        <label class="form-label" for="">Referencia *</label>
                        <textarea class="form-control" oninput="this.value = this.value.toUpperCase()" maxlength="254"
                                    cols="30" rows="2" name="referencia" #referencia="ngModel" [(ngModel)]="nuevaDir.referencia" required ></textarea>
                        <div [hidden]="referencia.valid || referencia.pristine" class="alert alert-danger">
                            CAMPO REQUERIDO
                        </div> 
                      </div>
                    </div>
                
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="guardarNuevaDireccion()" (click)="modal.close()"  >Guardar</button>
            </div>  
        </form>
</ng-template>


<!-- Modal alerta de existencia -->
<ng-template #mAlertaExistencia let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Alerta</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p class="text-center">Algunos productos no cuenta con stock suficiente o estan agotados. ¿Seguro que desea continuar?</p>
    </div>
    <div class="modal-footer">
        <div class="col">

            <button class="btn btn-danger form-control" (click)="modal.dismiss('Cross click')">Cancelar</button>
        </div>
        <div class="col">
            <button class="btn btn-success form-control" (click)="creaCotizacion()"(click)="modal.dismiss('Cross click')">Si</button>
        </div>
    </div>
</ng-template>

<!-- Modal Motivo Edicion -->
<ng-template #mMotivoEdicion let-modal>
    <div class="modal-header">
        <h4>Ingresa el motivo de modificacion</h4>
    </div>
    <div class="modal-body">
        <div class="col-auto">
            <textarea class="form-control" name="motivoEdicion" id="motivoEdicion" 
                        cols="3" rows="2" [(ngModel)]="motivoEdicion" ngModel></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col">
            <button class="btn btn-danger form-control" (click)="cancelaEdicion()">Cancelar</button>
        </div>
        <div class="col">
            <button class="btn btn-success form-control" (click)="almacenaMotivo()">Guardar</button>
        </div>
    </div>
</ng-template>


<!-- Nuevo modal productos -->
<app-modal-productos></app-modal-productos>

