<div class="container">
    <h3 class="text-center">Compras por recibir</h3>
</div>
<div>
    <!-- <div class="text-center text-primary" *ngIf="isLoading">
        <div class="spinner-border" role="status" >
            <span class="visually-hidden">Loading...</span>
          </div>
    </div> -->
    <div class="container-fluid">
        <div class="input-group mb-2">
            <div class="col-2">
                <select class="form-select" name="tipoBusqueda">
                    <option value="1"># Compra</option>
                    <option value="2">Proveedor</option>
                </select>
            </div>
        </div>
    </div>
</div>-