<div class="container">
    <h3 class="text-center">Compras Recibidas</h3>
</div>
<div>
    <div class="container-fluid" *ngIf="compras">
        <div class="input-group mb-2">
            <div class="col-2">
                <select class="form-select" name="tipoBusqueda">
                    <option value="1"># Compra</option>
                    <option value="2">Proveedor</option>
                </select>
            </div>
        </div>
        <br>
        <div class="text-center text-primary" *ngIf="isLoading">
            <div class="spinner-border" role="status" >
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div *ngIf="!isLoading">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">#COMPRA</th>
                        <th scope="col">FECHA RECIBO</th>
                        <th scope="col">PROVEEDOR</th>
                        <th scope="col">FOLIO PROVEEDOR</th>
                        <th scope="col">TOTAL</th>
                        <th scope="col">EMPLEADO RECIBIO</th>
                    </tr>
                </thead>
                <tbody *ngFor="let c of compras | paginate:{id:'pagCompra',itemsPerPage: itemsPerPage, currentPage: pageActual, totalItems:totalPages}">
                    <tr>
                        <th scope="row">{{c.idCompra}}</th>
                        <th scope="row">{{c.fechaRecibo | date: 'dd/MM/yyyy'}}</th>
                        <th scope="row">{{c.nombreProveedor}}</th>
                        <th scope="row">{{c.folioProveedor}}</th>
                        <th scope="row">{{c.total | currency}}</th>
                        <th scope="row">{{c.nombreEmpleado}}</th>
                    </tr>
                </tbody>
            </table>
            <pagination-controls 
                    id="pagCompra" 
                    (pageChange)="getPage(pageActual = $event)"
                    previousLabel="Anterior"
                    nextLabel="Siguiente" >
            </pagination-controls>
        </div>
    
    </div>
</div>-