<div class="container">
    <label class="form-label" for="">Buscar nota</label>
    <input class="form-control" type="text">
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-6">
            <label class="form-label">Cliente</label>
            <input type="text" class="form-control"  readonly>
        </div>
        <div class="col-3">
            <label class="form-label">Fecha</label>
            <input type="text" class="form-control"  readonly>
        </div>
        <div class="col-3">
            <label class="form-label">Status</label>
            <input type="text" class="form-control"  readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="form-label">Vendedor</label>
            <input type="text" class="form-control"  readonly>
        </div>
        <div class="col-2">
            <label class="form-label">Subtotal</label>
            <input type="text" class="form-control"  readonly>
        </div>
        <div class="col-2">
            <label class="form-label">Descuento</label>
            <input type="text" class="form-control" readonly>
        </div>
        <div class="col-2">
            <label class="form-label">Total</label>
            <input type="text" class="form-control"  readonly>
        </div>
    </div>
    <br>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">CLAVE EXTERNA</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">DESCUENTO</th>
                <th scope="col">SUBTOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
            </tr>
        </tbody>
    </table>
    <!-- <pagination-controls id="mProductosDVenta" (pageChange)="mpageActual = $event"></pagination-controls> -->
    <div>
        <h3 class="text-center">Escanear productos</h3>
        <div class="input-group mb-2">
            <div class="col-3">
                <select class="form-select">
                    <option value="1">CODIGO DE BARRAS</option>
                    <option value="2">CLAVE EXTERNA</option>
                    <option value="3">DESCRIPCION</option>
                </select>
            </div>
            <div class="col">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <label class="form-label" for="">Descripcion</label>
                <textarea class="form-control" rows="5" maxlength="254"></textarea>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-2">
                        <label class="form-label" for="">Medida</label>
                    <input class="form-control" type="text" readonly>

                    <label class="form-label" for="">cantidad</label>
                    <input class="form-control" type="text">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success">verificar</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">CLAVE EXTERNA</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">DESCUENTO</th>
                <th scope="col">SUBTOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"></th>
            </tr>
        </tbody>
    </table>
    <!-- <pagination-controls id="mProductosDVenta" (pageChange)="mpageActual = $event"></pagination-controls> -->
    
</div>
