<p-toast></p-toast>
<div class="container-fluid mt-2">
    <div class="row justify-content-between">
        <div class="col-10">
            <p-breadcrumb
                class="max-w-full"
                [model]="items"
                [home]="home"
                [style]="{'font-size':'small'}">
            </p-breadcrumb>
        </div>
        <div class="col-2">
            <button *ngIf="userPermisos.agregar == 1" type="button" value="Agregar" class="btn btn-success me-md-2" [routerLink]="['producto-agregar']" style="box-sizing: border-box;" ngbTooltip="AGREGAR"><i class="bi bi-plus-circle"></i><br></button>
            <button *ngIf="userPermisos.ver == 1" type="button" value="Buscar" class="btn btn-primary me-md-2" [routerLink]="['producto-buscar']"  style="box-sizing: border-box;" ngbTooltip="BUSCAR"><i class="bi bi-search"></i><br></button>
            <button *ngIf="userPermisos.ver == 1" type="button" value="Deshabilitados" class="btn btn-danger me-md-2" [routerLink]="['producto-deshabilitado']" style="box-sizing: border-box;" ngbTooltip="BUSCAR DESHABILITADOS"><i class="bi bi-search"></i><br></button>
        </div>
    </div>
</div>
<hr>
<router-outlet></router-outlet>