
<div class="container">
    <br>
    <div class="row justify-content-between">
        <div class="col-6">
            <h2>Modulo de Productos</h2>
        </div>
        <div class="col-auto">
            <button type="button" value="Agregar" class="btn btn-success me-md-2" [routerLink]="['producto-agregar']" style="box-sizing: border-box;" ngbTooltip="AGREGAR"><i class="bi bi-plus-circle"></i><br></button>
            <button type="button" value="Buscar" class="btn btn-primary me-md-2" [routerLink]="['producto-buscar']"  style="box-sizing: border-box;" ngbTooltip="BUSCAR"><i class="bi bi-search"></i><br></button>
            <button type="button" value="Deshabilitados" class="btn btn-danger me-md-2" [routerLink]="['producto-deshabilitado']" style="box-sizing: border-box;" ngbTooltip="BUSCAR DESHABILITADOS"><i class="bi bi-search"></i><br></button>
        </div>
    </div>
</div>
<hr>
<br>
<router-outlet></router-outlet>